md-sidenav {
  fill: #737373;
}

body, html {
  overflow: hidden;
}

body, html, md-content.bg {
  background: #eee;
}

md-sidenav ng-md-icon {
	position: relative;
	top: 5px;
}

/* style for toolbar when a table has selected items*/
md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
  color: #1e88e5;
  font-size: 16px;
  background-color: #e3f2fd;
}

md-toolbar.md-tall.md-hue-2 {
    background: linear-gradient(
      rgba(16, 47, 100, 0.8), 
      rgba(16, 47, 100, 0.8)
    ), url(/css/banner.png) 0 0 repeat;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}