md-sidenav {
  fill: #737373;
}

body, html {
  overflow: hidden;
}

body, html, .bg {
  background: linear-gradient(#eee,#ccc);
}

md-sidenav ng-md-icon {
	position: relative;
	top: 5px;
}

table td.label {
  text-align: right;
  font-weight: bold;
}

json-text {
  font-family: monospace;
}

/* style for toolbar when a table has selected items*/
md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
  color: #1e88e5;
  font-size: 16px;
  background-color: #e3f2fd;
}

md-toolbar.md-tall.md-hue-2 {
    background: linear-gradient(
      rgba(16, 47, 100, 0.8), 
      rgba(16, 47, 100, 0.8)
    ), url(/css/banner.png) 0 0 repeat;
}

a {
	text-decoration: none;
  color: #1565C0;
}

a:hover {
	text-decoration: underline;
  color: #1565C0;
}

a:visited:not(.md-button) {
  color: #1565C0;
}

div.centered h1 {
  text-align: center;
  font-weight: normal;
  font-family: 'Roboto', Helvetica, sans-serif;
}

div md-progress-circular {
  margin-left: auto;
  margin-right: auto;
}

.ng-view.ng-cloak,
.ng-view.ng-binding {
    opacity: 0;
    transition: opacity 800ms ease-in-out;
}
.ng-view.ng-binding {
    opacity: 1;
}