<!doctype html>
<html ng-app='app'>

	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css" />

		<!-- Material CSS-->
		<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	</head>
	
	<body ng-controller="AppCtrl as app" layout="row">

		<!-- jQuery -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="js/jquery.sparkline.min.js"></script>

		<!-- Core Angular -->
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		
		<!-- Angular modules -->
		<!-- Material -->
		<script src="bower_components/angular-material/angular-material.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-messages/angular-messages.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>

		<!-- Digest Authentication -->
		<script src="bower_components/angular-md5/angular-md5.js"></script>
		<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
		<script src="js/digest.js"></script>

		<!-- Extra Modules -->
		<script src="js/angular-sparklines.js"></script>

		<!-- Source -->
		<script src="js/app.js"></script>
		<script src="js/login.js"></script>
		<script src="js/dashboard.js"></script>
		<script src="js/dialog.js"></script>

		<!-- Side Nav -->
		<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ng-show='isAuth()'>

			<!-- Tall toolbar on top of the sidebar -->
			<md-toolbar class='md-tall md-hue-2'>
				<span flex></span>
				<div layout="column" class="md-toolbar-tools-bottom inset">
					<div>{{user.username}}</div>
				</div>
			</md-toolbar>

			<md-list>
				<!-- Default menu -->
				<md-list-item class="md-2-line" ng-repeat="item in menu" md-ink-ripple ng-href="#{{item.path}}">
					<md-icon>{{item.icon}}</md-icon>

					<div class="md-list-item-text">
						<span class="md-body-2">{{item.title}}</span>
					</div>
				</md-list-item>

				<md-divider></md-divider>

				<!-- User menu -->
				<md-subheader>Management</md-subheader>
				<md-list-item class="md-2-line" ng-repeat="item in admin" md-ink-ripple ng-href="#{{item.path}}">
					<md-icon>{{item.icon}}</md-icon>

					<div class="md-list-item-text">
						<span class="md-body-2">{{item.title}}</span>
					</div>
				</md-list-item>

				<!-- Log out item -->
				<!-- logging out by refresh, leaving this here just in case it's re-implemented
				<md-list-item class="md-2-line" md-ink-ripple ng-click="logout()">
					<md-icon>exit_to_app</md-icon>

					<div class="md-list-item-text">
						<span class="md-body-2">Log Out</span>
					</div>
				</md-list-item>
				-->
			</md-list>
		</md-sidenav>
		
		<div layout="column" layout-fill>
			<!-- Header -->
			<md-toolbar layout="row" class='md-whiteframe-z1' ng-show='isAuth()'>
				<div class='md-toolbar-tools'>
					<md-button class="md-icon-button" ng-click="toggleSideNav('left')" hide-gt-md aria-label="Menu"/>
						<md-icon>menu</md-icon>
					</md-button>

					<h3>{{title}}</h3>
					<span flex></span>
					<md-button class="md-icon-button" ng-click='tryFetch()'/>
						<!-- TODO: take to annealer page -->
						<md-icon>track_changes</md-icon>
					</md-button>
				</div>
			</md-toolbar>

			<!-- Content -->
			<content ng-view>
			</content>
		</div>

	</body>

</html>
