<!doctype html>
<html ng-app='app'>

  <head>

    <!-- Material CSS-->
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material-data-table/dist/md-data-table.min.css" />
    <link rel="stylesheet" type="text/css" href="css/font.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <link rel="SHORTCUT ICON" href="/ux/favicon.ico" />

    <title>
      Digital Rebar [{{host}}]
    </title>

  </head>

  <body ng-controller="AppCtrl as app" layout="row" ng-cloak>

    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="js/lib/jquery.sparkline.min.js"></script>

    <!-- Core Angular -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/ng-debounce/angular-debounce.js"></script>

    <!-- Angular modules -->
    <!-- Material -->
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>

    <!-- Vis -->
    <script src="bower_components/vis/dist/vis.min.js"></script>
    <script src="bower_components/angular-visjs/angular-vis.js"></script>

    <!-- Digest Authentication -->
    <script src="bower_components/angular-md5/angular-md5.min.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="js/lib/digest.js"></script>

    <!-- Extra Modules -->
    <script src="js/lib/angular-sparklines.js"></script>
    <script src="js/lib/angular-clipboard.js"></script>
    <script src="js/lib/jsontext.js"></script>
    <script src="js/lib/ng-slide-down.min.js"></script>
    <script src="bower_components/swap-md-paint/swap-md-paint.js"></script>

    <!-- Source -->
    <script src="js/app.js"></script>
    <script src="js/rebar.js"></script>
    <script src="js/login.js"></script>
    <script src="js/deployments.js"></script>
    <script src="js/dialog.js"></script>
    <script src="js/nodes.js"></script>
    <script src="js/node_roles.js"></script>
    <script src="js/roles.js"></script>
    <script src="js/deployment_roles.js"></script>
    <script src="js/barclamps.js"></script>
    <script src="js/networks.js"></script>
    <script src="js/switches.js"></script>
    <script src="js/provider.js"></script>
    <script src="js/nnealer.js"></script>
    <script src="js/users.js"></script>
    <script src="js/tenants.js"></script>
    <script src="js/capabilities.js"></script>
    <script src="js/dns.js"></script>
    <script src="js/dhcp.js"></script>
    <script src="js/engine.js"></script>
    <script src="js/provisioner.js"></script>
    <script src="js/profile.js"></script>
    <script src="js/workloads.js"></script>
    <script src="js/logging.js"></script>
    <script src="js/helper.js"></script>
    <script src="js/attribs.js"></script>
    <script src="js/graphs.js"></script>
    <script src="js/bios_settings.js"></script>
    <script src="js/bios_updates.js"></script>
    <script src="js/ipmi_updates.js"></script>
    <script src="js/raid_updates.js"></script>

    <!-- Side Nav -->
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ng-show='isAuth()'>

      <!-- Tall toolbar on top of the sidebar -->
      <md-toolbar class='md-tall md-hue-2'>
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
          <div><a ng-href='#/users/{{user.id}}' style='color: #f5f5f5;'>
          <md-icon>person</md-icon> {{user.username}}</a></div>
          <div><a target="_blank" ng-href='{{host}}' style='color: #f5f5f5;'>{{host}}</a></div>
        </div>
      </md-toolbar>

      <md-list style='overflow-y: auto;'>

        <!-- Default menu -->
        <div ng-repeat="item in menu" ng-if='!item.hide()'>
          <md-list-item ng-click="item.expand ? item.toggleExpand() : setPath(item.path)">
            <md-icon>{{item.icon}}</md-icon>
            <p>{{item.title}}</p>
            <md-icon ng-if='item.expand'>{{item.expanded()?"expand_less":"expand_more"}}</md-icon>
          </md-list-item>

          <div ng-slide-down='item.expanded()' duration='0.5' lazy-render ng-if='item.expand'>
            <md-list-item ng-repeat='child in item.items' ng-click='setPath(child.path)'>
              <md-icon style='padding-left: 1em;'>{{child.icon}}</md-icon>
              <p>{{child.title}}</p>
            </md-list-item>
          </div>
        </div>

        <md-divider></md-divider>

        <!-- Management menu -->
        <div ng-repeat="item in managementMenu" ng-if='!item.hide()'>
          <md-list-item ng-click="item.expand ? item.toggleExpand() : setPath(item.path)">
            <md-icon>{{item.icon}}</md-icon>
            <p>{{item.title}}</p>
            <md-icon ng-if='item.expand'>{{item.expanded()?"expand_less":"expand_more"}}</md-icon>
          </md-list-item>

          <div ng-slide-down='item.expanded()' duration='0.5' lazy-render ng-if='item.expand'>
            <md-list-item ng-repeat='child in item.items' ng-click='setPath(child.path)'>
              <md-icon style='padding-left: 1em;'>{{child.icon}}</md-icon>
              <p>{{child.title}}</p>
            </md-list-item>
          </div>
        </div>

        <!-- Logout list item -->
        <md-list-item ng-click="logout()">
          <md-icon>exit_to_app</md-icon>
          <p>Logout</p>
        </md-list-item>

      </md-list>

    </md-sidenav>

    <md-content layout="column" layout-fill class='bg'>
      <!-- Header -->
      <md-toolbar layout="column" class='md-whiteframe-z1' ng-show='isAuth()' id='toolbar'>
        <div class='md-toolbar-tools'>
          <md-button class="md-icon-button" ng-click="toggleSideNav('left')" hide-gt-md aria-label="Menu">
            <md-icon>menu</md-icon>
          </md-button>

          <h2>{{title}}</h2>
          <span flex></span>
          <md-menu md-position-mode="target-right target" style='padding: 0;' ng-if='!provider'>
            <h2 ng-click='$mdOpenMenu($event)'>
              <md-icon aria-label="Tenant">group</md-icon> {{_tenants[user.current_tenant_id].name}}
              <md-tooltip>
                Change Current Tenant
              </md-tooltip>
            </h2>
            <md-menu-content width="4">
              <md-menu-item ng-repeat="(id, tenant) in _tenants">
                <md-button ng-click="setTenant(id)">
                  <div layout="row" flex>
                    <p flex>{{tenant.name}}</p>
                  </div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-button class="md-icon-button" ng-click='api.reload()'>
            <md-tooltip>
              Refresh Data
            </md-tooltip>
            <md-icon ng-class="{pulse: api.reloading}">refresh</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-href='#/annealer'>
            <md-tooltip>
              Annealer
            </md-tooltip>
            <md-icon>track_changes</md-icon>
          </md-button>
          <md-button target="_new" class="md-icon-button" ng-href='http://digital-rebar.readthedocs.io/en/latest/'>
            <md-tooltip>
              Documentation
            </md-tooltip>
            <md-icon>help_outline</md-icon>
          </md-button>
        </div>
        <md-progress-linear md-mode="determinate" value="{{api.queueLen == 0 ? 100 : (1-api.queue.length/api.queueLen)*100}}"> </md-progress-linear>
      </md-toolbar>

      <!-- Content -->
      <div ng-view ng-cloak style='overflow: auto;' scroll-position='scroll'>
      </div>
    </md-content>

  </body>

</html>
