<!--
login view
-->
<div hide-xs style='height: 100px'></div>

<md-content layout='wrap' layout-align="center center">
	<md-card flex-gt-xs='40' flex='100'>

		<md-toolbar>
			<div class="md-toolbar-tools" layout='row'>
				<h2 class="md-flex">Login</h2>
			</div>
		</md-toolbar>

		<form name='loginForm' ng-submit='login.signIn()' layout="column">
			

			<md-content layout-padding>

				<!-- Username and password fields -->
				<md-input-container class="md-block" flex>
					<label>Username</label>
					<input type="text" ng-model='login.credentials.username'/>
				</md-input-container>

				<md-input-container class="md-block" flex>
					<label>Password</label>
					<input type="password" ng-model='login.credentials.password'/>
				</md-input-container>

				<!-- Right justified login button  -->
				<section layout='row' role="main" >
					<span flex></span>
					<md-button class="md-raised md-primary" type="submit" ng-disabled="!eula">
						Login
					</md-button>
				</section>

			</md-content>
			<md-divider></md-divider>
			<md-content layout-padding layout='column'>
				<span layout='row'>
					<!-- icons for showing state -->
					<span ng-show='login.state == -1' layout='row'>
						<md-icon>close</md-icon>
						<span class='md-subhead inset'>
							Invalid Host
						</span>	
					</span>
					<span ng-show='login.state == 1' layout='row'>
						<md-icon>check</md-icon>
						<span class='md-subhead inset'>
							Valid Host
						</span>	
					</span>
					<span ng-show='login.state == 0' layout='row'>
						<md-icon>hourglass_empty</md-icon>
						<span class='md-subhead inset'>
							Verifying Host
						</span>	
					</span>
					<span flex></span>
					<md-button class="md-raised md-primary" ng-click='login.showEulaDialog()' ng-show="eula">
						Eula
					</md-button>
					
				</span>
				<md-input-container class="md-block" flex>
					<label>API Endpoint</label>
					<input type="text" ng-model='login.host' flex/>
				</md-input-container>
			</md-content>

		</form>
	</md-card>
</md-content>

