
<md-content layout-padding>
	<ui-view layout="wrap" layout-align="center">
		<md-card flex-gt-sm='40' flex='100'>
			<md-toolbar>
				<div class="md-toolbar-tools">
			      <h2 class="md-flex">Login</h2>
			    </div>
		    </md-toolbar>
			<form name='loginForm' ng-submit='login.signIn()' layout="column" layout-align="center" layout-padding>
				<md-input-container>
					<label>Username</label>
					<input type="text" ng-model='credentials.username'/>
				</md-input-container>
				<md-input-container>
					<label>Password</label>
					<input type="text" ng-model='credentials.password'/>
				</md-input-container>
				<section layout='row' layout-fill role="main" >
					<div flex-xs flex="50" class='inset'>
						<md-checkbox>
							Remember Me
						</md-checkbox>
					</div>
					<span flex></span>
					<md-button class="md-raised md-primary" type="submit">Login</md-button>
				</section>
			</form>
		</md-card>

	</ui-view>
</md-content>

