<md-dialog aria-label="Node {{locals.node.name}}"  ng-cloak>
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Node {{locals.node.name}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon>close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<md-button class="md-fab md-primary" ng-repeat="role in locals.node.roles | orderBy: 'cohort'" md-theme="status_{{role.status}}">
				<md-icon>{{icons[role.status]}}</md-icon>
				<md-tooltip md-direction="bottom">
					{{_roles[role.role_id].name}}
				</md-tooltip>
			</md-button>
		</md-dialog-content>

		<!-- <md-dialog-actions layout="row">
			<span flex></span>
		</md-dialog-actions> -->
	</form>
</md-dialog>