<div layout='row' class='wizard-pane'>
  <div class='wizard-icon'>
    <md-icon ng-show='submitStatus == -1'>close</md-icon>
    <md-icon ng-show='submitStatus == 0' class='rotate'>hourhlass_empty</md-icon>
    <md-icon ng-show='submitStatus == 1'>check</md-icon>
    <md-icon></md-icon>
    <md-icon></md-icon>
  </div>
  <div class='wizard-content' flex>
    <h1>
      <span ng-show="submitStatus == -1">Wizard Failed</span>
      <span ng-show="submitStatus == 0">Running Wizard...</span>
      <span ng-show="submitStatus == 1">Wizard Completed!</span>
    </h1>
    <div ng-show='submitStatus == -1' layout-align='center'>
      <md-button class='md-primary md-raised' ng-click='steps[done-1].onStep()'>
        Retry
      </md-button>
      <md-button class='md-primary md-raised' ng-click='setPath("/alerts")'>
        View Alerts
      </md-button>
    </div>
    <div ng-show='submitStatus == 0'>
      Please wait a moment!
    </div>
    <div ng-show='submitStatus == 1'>
      <md-button class='md-primary md-raised' ng-click='setPath("/deployments")'>
        View Deployments
      </md-button>
    </div>
  </div>
</div>