<div layout='row' class='wizard-pane'>
  <div class='wizard-icon'>
    <md-icon>directions_boat</md-icon>
  </div>
  <div class='wizard-content' flex>
    <h1>Select the Services for Your Nodes</h1>

    <md-card>
      <md-toolbar class="md-table-toolbar md-default" >
        <div class="md-toolbar-tools" layout='row'>
          <h2>{{workloads.selected.length}} node{{workloads.selected.length != 1 && 's' || ''}} selected</h2>
          <div flex style='color: #c44; font-size: 0.75em; text-align: center;'>{{steps[done].complete(true)[1]}}</div>
          <md-button class='md-icon-button' ng-if='wizard.create_nodes' ng-click='addNode()'>
            <md-icon>add</md-icon>
            <md-tooltip>Add Node</md-tooltip>
          </md-button>
        </div>
      </md-toolbar>

      <md-table-container style="overflow-y: auto; max-height: 300px;">
        <table md-table md-row-select ng-model="workloads.selected">
          <thead md-head md-order="order">
            <tr md-row>
              <th md-column md-order-by='name'>Name</th>
              <th md-column>Required</th>
              <th md-column>Control</th>
              <th md-column>Worker</th>
              <th md-column>Optional</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="node" md-select-id="{{node.id}}" ng-repeat="node in getNodes() | orderBy: order" md-on-deselect='tryDeselect' >
              <td md-cell>{{node.name}}</td>
              <td md-cell ng-repeat='type in ["required","control","worker","optional"]'>
                <span flex></span>
                <span ng-repeat='service in wizard.services' style='height: 10px;' ng-if='service.type==type'>
                  <md-button ng-click='select(node, service)' class='md-icon-button' ng-class='{"toggled md-whiteframe-2dp": serviceMap[node.id][service.name]}'>
                    <md-icon>
                      {{service.icon || "blur_circular"}}
                    </md-icon>
                    <md-tooltip>
                      {{service.description}}
                    </md-tooltip>
                  </md-button>
                </span>
                <span flex></span>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-card>
  </div>
</div>