<div layout='column' layout-gt-xs='row' class='wizard-pane'>
  <div class='wizard-icon'>
    <md-icon>directions_car</md-icon>
  </div>
  <div class='wizard-content' flex>
    <h1>Select Your OS</h1>
    <div layout='row'>
      <div flex layout='column' ng-if='wizard.system_nodes'>
        <div class='icon-container'>
          <md-icon>computer</md-icon>
          <md-tooltip>Metal</md-tooltip>
        </div>
        <md-input-container ng-if='wizard.system_nodes' flex>
          <label>Metal Operating System</label>
          <md-select ng-model="workloads.attribs['provisioner-target_os']">
            <md-option ng-repeat="os in osList" value="{{os}}">
              {{os}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div flex layout='column' ng-if='wizard.create_nodes'>
        <div class='icon-container'>
          <md-icon>cloud</md-icon>
          <md-tooltip>Cloud</md-tooltip>
        </div>

        <md-input-container ng-if='wizard.create_nodes' flex>
          <label>Provider</label>
          <md-select ng-model="workloads.provider">
            <md-option ng-repeat="provider in _providers" value="{{provider.name}}" ng-if='provider.type != "MetalProvider" && provider.type != ""'>
              {{provider.name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

    </div>
  </div>
</div>