@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(css/font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(css/font/MaterialIcons-Regular.woff2) format('woff2'),
       url(css/font/MaterialIcons-Regular.woff) format('woff'),
       url(css/font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

md-sidenav {
  fill: #737373;
}

body, html {
  overflow: hidden;
}

body, html, .bg {
  background: linear-gradient(#eee,#ccc);
  background: -webkit-linear-gradient(#eee,#ccc);
}

md-sidenav ng-md-icon {
  position: relative;
  top: 5px;
}

.md-toolbar-tools span md-icon, .md-toolbar-tools span a, .md-toolbar-tools span  {
  margin-left: 4px;
  margin-right: 4px;
}

table td.label {
  font-weight: bold;
  text-align: right;
}

.login-autocomplete md-input-container {
  margin: 0;
  padding: 0 !important;
}

.success {
  background: #dfd;
}
.error {
  background: #fdd;
}

.square-button {
  min-width: 36px;
  padding: 0;
}

th.angled {
  height: 160px;
  white-space: nowrap
}

th.angled div {
  height: 24px;
  position: relative;
  -ms-transform: translate(5px, 60px) rotateZ(-45deg);
  -webkit-transform: translate(5px, 60px) rotateZ(-45deg);
          transform: translate(5px, 60px) rotateZ(-45deg);
  white-space: nowrap;
  width: 24px;
}

th.angled div a {
  overflow: visible;
  white-space: nowrap;
}

.status {
  border-radius: 50%;
  padding: 4px;
}


json-text {
  font-family: monospace;
}

/* style for toolbar when a table has selected items*/
md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
  background-color: #e3f2fd;
  color: #1e88e5;
  font-size: 16px;
}

md-toolbar.md-tall.md-hue-2 {
    /*background: linear-gradient(
      rgba(16, 47, 100, 0.8), 
      rgba(16, 47, 100, 0.8)
    ), url('logo.jpg') cover;*/
    background-image: -webkit-linear-gradient(
      rgba(16, 47, 100, 0.8), 
      rgba(8, 24, 50, 1) 90%), url(css/img/logo.jpg);
    background-image: linear-gradient(
      rgba(16, 47, 100, 0.8), 
      rgba(8, 24, 50, 1) 90%), url(css/img/logo.jpg);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
}

a {
  color: #1565C0;
  text-decoration: none;
}

a:hover {
  color: #1565C0;
  text-decoration: underline;
}

a:visited:not(.md-button) {
  color: #1565C0;
}

div.centered h1 {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
}

div md-progress-circular {
  margin-left: auto;
  margin-right: auto;
}

.ng-view.ng-cloak,
.ng-view.ng-binding {
    opacity: 0;
    -webkit-transition: opacity 800ms ease-in-out;
    transition: opacity 800ms ease-in-out;
}
.ng-view.ng-binding {
    opacity: 1;
}

.runlog {
  overflow-x: auto;
}

.table-input {
  border: none;
  width: 100%;
  box-shadow: 0 1px lightgrey;
  padding: 0.25em;
  outline: none;
}

.table-input:focus:not([readonly='readonly']) {
  box-shadow: 0 2px blue;
}

.table-input:hover[readonly='readonly'] {
  box-shadow: 0 2px red;
}

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
  opacity: 0; 
}
 
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0,0.2); 
}

.pulse {
  -webkit-animation: pulse 2s infinite linear;
          animation: pulse 2s infinite linear;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  30% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  60% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  80% {
    -webkit-transform: rotateZ(540deg);
            transform: rotateZ(540deg);
  }
  100% {
    -webkit-transform: rotateZ(720deg);
            transform: rotateZ(720deg);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  30% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  60% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  80% {
    -webkit-transform: rotateZ(540deg);
            transform: rotateZ(540deg);
  }
  100% {
    -webkit-transform: rotateZ(720deg);
            transform: rotateZ(720deg);
  }
}

.rotate {
  -webkit-animation: rotate 0.5s infinite ease;
          animation: rotate 0.5s infinite ease;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
}

table.md-table.md-row-select tbody.md-body > tr.md-row:not([disabled]):hover {
  background-color: rgba(50,50,50, 0.1) !important;

}
table.md-table.md-row-select tbody.md-body > tr.md-row.md-selected {
  background-color: rgba(50,50,50, 0.2) !important;
}

table.md-table td.md-cell {
  font-size: 13px;
  border-top: 1px rgba(0, 0, 0, 0.12) solid;
  color: inherit;
}

table.md-table td.md-cell a {
  color: inherit;
  text-decoration: underline;
}

table.md-table td.md-cell md-icon {
  color: inherit;
}

.selectHeader .header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

.selectHeader .select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.selectHeader md-content._md {
  max-height: 240px;
}

md-content {
  background-color: #fff;
}

.md-button.md-icon-button.toggled {
  background: rgb(46,125,50) !important;
  color: #f5f5f5 !important;
  fill: #f5f5f5 !important;
}

table.no-border, table.no-border tr, table.no-border tr td{
  border-collapse: collapse;
  border: none;
}

.cover {
  z-index: 10;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.1;
}

.graph {
  height: 600px;
  width: 100%;
}

.step {
  width: 20%;
  padding: 4px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  outline: none;
}

.step md-icon {
  margin: auto;
  width: 32px;
  height: 32px;
  font-size: 32px;
  outline: none;
  padding: 4px;
  border-radius: 50%;
  border: 2px solid lightgrey;
  color: lightgrey;
  background-color: rgba(21,101,192, 0);
  -webkit-transition: border-color 0.5s, background-color 0.5s, color 0.5s;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

.step:not(:first-child) md-icon:before {
  position: absolute;
  height: 1;
  left: 0;
  top: 50%;
  content: '';
  width: calc(50% - 4px - 16px);
  border-bottom: 2px solid lightgrey;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

.step:not(:last-child) md-icon:after {
  position: absolute;
  z-index: -5;
  height: 1;
  right: 0;
  top: 50%;
  content: '';
  width: calc(50% - 4px - 16px);
  border-bottom: 2px solid lightgrey;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

.step.completed md-icon {
  color: #fff;
  background-color: rgb(21,101,192);
  border-color: rgb(21,101,192);
}

.step.progress md-icon {
  color: rgb(21,101,192);
  border-color: rgb(21,101,192);
}

.step.progress:not(:first-child) md-icon:before {
  border-color: rgb(21,101,192);
}

.step.completed:not(:first-child) md-icon:before {
  border-color: rgb(21,101,192);
}

.step.completed:not(:last-child) md-icon:after {
  border-color: rgb(21,101,192);
}

.wizard-icon {
  padding: 1em;
}

.wizard-icon md-icon {
  font-size: 120px;
  width: 120px;
  height: 120px;
  color: rgb(21,101,192);
}

.wizard-pane {
  width: 80%;
  margin: auto;
}

.wizard-content h1 {
  font-weight: normal;
}

.wizard-content h2 {
  font-weight: normal;
  text-align: center;
}

.wizard-content .icon-container {
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
}

.wizard-content .icon-container md-icon {
  font-size: 100px;
  color: rgb(33, 150, 243);
  width: 100px;
  height: 100px;
}

.wizard-content md-input-container {
  margin: 0;
}

.graph-card {
  overflow: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.graph-overlay {
  padding: 4px;
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.md-table-pagination {
  justify-content: flex-start;
}