<md-card>
  <div ng-switch="hasAttrib">
  <md-card-content ng-switch-when="-1">
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </md-card-content>
  <md-card-content ng-switch-when="0">
    Error Loading Attributes
  </md-card-content>
  <md-card-content ng-switch-when="1">
    <md-table-container>
      <table md-table>
        <thead md-head md-order="order">
          <tr md-row>
            <th md-column md-order-by='name'>Name</th>
            <th md-column>Description</th>
            <th md-column md-order-by='map'>Map</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="attrib in attribs | orderBy: order">
            <td md-cell>{{attrib.name}}</a></td>
            <td md-cell>{{attrib.description}}</td>
            <td md-cell>{{attrib.map}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-card-content>
</div>

</md-card>