<md-content class='bg'>

  <md-card>
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <span>
          {{barclamp.name}}
        </span>
      </div>
    </md-toolbar>

    <md-card-content>
      <table layout-padding>
        <tr>
          <td class='label'>Description</td>
          <td>
            {{barclamp.description}}
          </td>
        </tr>
        <tr>
          <td class='label'>Source Path</td>
          <td>{{barclamp.source_path}}</td>
        </tr>
        <tr>
          <td class='label'>Configuration</td>
          <td>
            <a ng-click='barclamps.showUpdateBarclampDialog()'>
              Edit
            </a>
          </td>
        </tr>
      </table>
    </md-card-content>

  </md-card>

  <!-- Show node roles -->
  <md-card>
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <span>Roles</span>
      </div>
    </md-toolbar>
    <md-card-content>
      <md-button ng-href='#/roles/{{role.id}}' class='md-fab md-primary' ng-repeat="role in getRoles(barclamp.cfg_data.roles)">
        <md-icon>
          {{role.icon}}
        </md-icon>
        <md-tooltip>
          {{role.name}}
        </md-tooltip>
      </md-button>
    <md-card-content>
  </md-card>

</md-content>