<!--
deployments view
-->
<div>
  <md-card ng-repeat='(id, deployment) in _deployments' flex='100'>

    <!-- Top bar for each deployment -->
    <md-toolbar flex layout='column' md-theme='status_{{deploymentStates[deployment.state]}}' ng-class="{'md-warn': deployments.deploymentStatus[id].error > 0}" ng-click="deployments.toggleExpand(deployment)" md-ink-ripple>
      <section layout='row'>
        <div class="md-toolbar-tools">
          <span>
            <md-icon>
              {{deploymentIcons[deploymentStates[deployment.state]]}}
            </md-icon>
            <md-tooltip>
              {{deploymentStateNames[deployment.state]}}
            </md-tooltip>
          </span>
          <h2 class="md-flex">{{deployment.name}}</h2>
        </div>
        <span flex></span>

        <!-- Sparkline for the nodes -->
        <span spark class='inset' type='pie' ng-model="deployments.deploymentPie[deployment.id]" opts='{{deployments.opts}}'>
        </span>

        <!-- Expand button -->
        <span class='inset'>
          <md-button class="md-icon-button">
            <md-icon ng-hide="expand[id]">expand_more</md-icon>
            <md-icon ng-show="expand[id]">expand_less</md-icon>
          </md-button>
        </span>
      </section>

      <!-- Progress bar for roles, progress is the % of ready nodes-->
      <md-progress-linear md-mode="determinate" ng-class="{'md-warn': deployments.deploymentStatus[id].error > 0}" value="{{100*(1-deployments.deploymentStatus[id].error/deployments.deploymentStatus[id].total)}}"></md-progress-linear>
    </md-toolbar>
    <!-- Tabs that appear after the expand button is pressed -->
    <section ng-slide-down='expand[id]' duration='0.5'>

      <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">

        <!-- Nodes tab -->
        <md-tab label="Nodes">
          <!-- Add all the nodes as list items -->
          <span ng-repeat="node in _nodes | from:'deployment':deployment | filter:{system: false} | orderBy: 'name'">
              <!-- Node button -->
              <md-button class="md-fab md-primary md-mini" md-theme="status_{{node.status}}" ng-href="#/nodes/{{node.id}}">
                <md-tooltip md-direction="bottom">
                  {{node.name}}
                </md-tooltip>
                <md-icon aria-label='{{node.status}}'>{{icons[node.status]}}</md-icon>
              </md-button>

            </span>

        </md-tab>

        <!-- Roles tab -->
        <md-tab label="Roles">

          <!-- Add all the Deployment Roles-->
          <span ng-repeat="role in _deployment_roles | from:'deployment':deployment | orderBy:_roles[role.role_id].cohort">
            <md-button class="md-fab md-primary md-mini" ng-href='#/deployment_roles/{{role.id}}'>
              <md-tooltip md-direction="bottom">
                {{_roles[role.role_id].name}}
              </md-tooltip>
              <md-icon aria-label='{{_roles[role.role_id].icon}}'>{{_roles[role.role_id].icon}}</md-icon>
            </md-button>
          </span>
        </md-tab>

        <!-- Node/Roles Matrix tab -->
        <md-tab label="Matrix" layout-padding layout='row'>
          <h3 style='margin-left: 1em'>Services</h3>
          <span ng-repeat="role in _node_roles | from:'node':phantoms[deployment.id] | orderBy:_roles[role.role_id].cohort">
            <md-button class="md-primary md-raised" md-theme="status_{{role.status}}" ng-href="#/node_roles/{{role.id}}">
              <md-tooltip md-direction="bottom">
                {{_roles[role.role_id].name}}
              </md-tooltip>
              <md-icon aria-label='role icon'>{{_roles[role.role_id].icon}}</md-icon>
            </md-button>
          </span>
          <div style='overflow-x: auto'>
            <table>
              <thead>
                <th></th>
                <th valign="bottom">Nodes</th>
                <th ng-repeat="(id, nroles) in matrix[deployment.id]" class='angled'>
                  <div>
                    <a ng-href='#/deployment_roles/{{id}}'>
                      <md-icon style='transform: rotateZ(45deg)'>{{_roles[_deployment_roles[id].role_id].icon}}</md-icon>
                      {{_roles[_deployment_roles[id].role_id].name}}
                    </a>
                  </div>
                </th>
              </thead>
              <tbody>
                <tr ng-repeat="node in _nodes | from:'deployment':deployment | filter:{system: false} | orderBy:'name'">
                  <td>
                    <span>
                      <md-icon class='status' swap-md-paint-bg="status_{{!node.alive ? 'off' : node.status}} primary" swap-md-paint-fg="status_{{!node.alive ? 'off' : node.status}} foreground">
                        {{icons[!node.alive ? 'off' : node.status]}}
                      </md-icon>
                      <md-tooltip>
                        {{!node.alive ? 'off' : node.status}}
                      </md-tooltip>
                    </span>
                  </td>
                  <td class='label'>
                    <a ng-href='#/nodes/{{node.id}}'>{{node.name}}</a>
                  </td>
                  <td ng-repeat='(id, node_roles) in matrix[deployment.id]'>
                    <span ng-if='node_roles[node.id]'>
                      <md-icon class='status' swap-md-paint-bg="status_{{_node_roles[node_roles[node.id]].status}} primary" swap-md-paint-fg="status_{{_node_roles[node_roles[node.id]].status}} foreground" ng-click='setPath("/node_roles/"+node_roles[node.id])'>
                        {{icons[_node_roles[node_roles[node.id]].status]}}
                      </md-icon>
                      <md-tooltip>
                        {{_node_roles[node_roles[node.id]].status}}
                      </md-tooltip>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-tab>


      </md-tabs>

      <md-divider></md-divider>

      <!-- Bind Section -->
      <md-card ng-slide-down='binding[id]' lazy-render layout='column'>
        <md-toolbar flex>
          <section layout='row'>
            <div class="md-toolbar-tools">
              <h2>
                Node Role Binding 
                <md-icon>
                  {{_roles[bindRoles[id].role_id].icon}}
                </md-icon>
                {{_roles[bindRoles[id].role_id].name}}
              </h2>
              <span flex></span>
              <md-button class='md-icon-button' ng-click='binding[id]=false'>
                <md-icon>close</md-icon>
                <md-tooltip>
                  Stop Binding Node Roles
                </md-tooltip>
              </md-button>
            </div>
          </section>
        </md-toolbar>
        <section layout='row' style='max-height: 400px;'>
          <md-list flex='33' style='overflow-y: auto;'>
            <md-list-item class='md-table-toolbar alternate' ng-repeat="role in _deployment_roles | from:'deployment':deployment | orderBy: 'cohort'" ng-click='setBindRole(id, role.role_id)' aria-label='Role' md-ink-ripple>
              <span flex>{{_roles[role.role_id].name}}</span>
              <span>
                  <md-icon>
                    {{_roles[role.role_id].icon}}
                  </md-icon>                  
                </span>
              <md-divider></md-divider>
            </md-list-item>
          </md-list>
          <md-divider></md-divider>
          <md-list style='overflow-y: auto;' flex='66'>
            <md-list-item ng-if='bindRoles[id]' ng-repeat="node in _nodes | from:'deployment':deployment | filter:{system: false} | orderBy: 'name'">
              <md-divider></md-divider>

              <!-- Node button -->
              <md-button class="md-fab md-primary md-mini" md-theme="status_{{node.status}}" ng-href="#/nodes/{{node.id}}">
                <md-tooltip md-direction="bottom">
                  {{node.status}}
                </md-tooltip>
                <md-icon aria-label='{{node.status}}'>{{icons[node.status]}}</md-icon>
              </md-button>
              <span flex>
                {{node.name}}
              </span>
              <span ng-show='bindRoles[id].roles[node.id]'>
                <md-button class="md-fab md-primary md-mini" md-theme="status_{{bindRoles[id].roles[node.id].status}}" ng-href="#/node_roles/{{bindRoles[id].roles[node.id].id}}">
                  <md-icon aria-label='{{bindRoles[id].roles[node.id].status}}'>
                    {{icons[bindRoles[id].roles[node.id].status]}}
                  </md-icon>
                  <md-tooltip>
                    {{bindRoles[id].roles[node.id].status}}
                  </md-tooltip>
                </md-button>
                <md-button class='md-icon-button' ng-click='destroyNodeRole(bindRoles[id].roles[node.id].id)'>
                  <md-icon>delete</md-icon>
                  <md-tooltip>
                    Destroy Node Role
                  </md-tooltip>
                </md-button>
              </span>
              <span ng-hide='bindRoles[id].roles[node.id]'>
                <md-button class='md-icon-button' ng-click='bindNodeRole(id, bindRoles[id].role_id, node.id)'>
                  <md-icon>add</md-icon>
                  <md-tooltip>
                    Bind Node Role
                  </md-tooltip>
                </md-button>
              </span>

            </md-list-item>
          </md-list>
        </section>
      </md-card>
      <md-divider ng-show='binding[id]'></md-divider>

      <!-- Toolbar with icons -->
      <md-card-actions layout="row" layout-align="start center">
        <md-button class='md-icon-button' ng-show='deployment.state == -1' ng-click='proposeDeployment(id)'>
          <md-icon>build</md-icon>
          <md-tooltip>Correct</md-tooltip>
        </md-button>

        <md-button class='md-icon-button' ng-show='deployment.state == 0' ng-click='commitDeployment(id)'>
          <md-icon>save</md-icon>
          <md-tooltip>Commit</md-tooltip>
        </md-button>

        <md-button class='md-icon-button' ng-show='deployment.state > 0' ng-click='proposeDeployment(id)' ng-if='!deployment.system'>
          <md-icon>mode_edit</md-icon>
          <md-tooltip>Propose</md-tooltip>
        </md-button>

        <md-button class='md-icon-button' ng-click='showAddNodeDialog($event, id)'>
          <md-icon>add_box</md-icon>
          <md-tooltip>Add Node</md-tooltip>
        </md-button>

        <md-menu md-position-mode="target-right target" ng-show='deployment.state == 0' style='padding: 0;'>
          <md-button class='md-icon-button' ng-click='$mdOpenMenu($event)'>
            <md-icon>add_circle</md-icon>
            <md-tooltip>Add Role</md-tooltip>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="role in getRoles(id) | filter:{milestone: true} | orderBy:'name'">
              <md-button ng-click="addRole(role.id, id)">
                <div layout="row" flex>
                  <p flex>{{role.name}}</p>
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;">{{role.icon}}</md-icon>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-button class='md-icon-button' ng-click='binding[id]=!binding[id]'>
          <md-icon>link</md-icon>
          <md-tooltip>Bind Node Roles</md-tooltip>
        </md-button>

        <md-card-icon-actions layout-align='center center'>
          <!-- Buttons in center of deployment card -->
        </md-card-icon-actions>

        <!-- Right side of toolbar -->
        <md-card-icon-actions layout-align='end center'>
          <md-button class='md-icon-button' ng-click='deleteDeployment($event, id)'>
            <md-icon>delete</md-icon>
            <md-tooltip>Destroy</md-tooltip>
          </md-button>
        </md-card-icon-actions>
      </md-card-actions>

    </section>
</div>

<!-- Floating action button at the bottom right of the screen -->
<div>
  <md-button class='md-fab md-accent md-fab-bottom-right' ng-click='createDeploymentPrompt($event)'>
    <md-icon>add</md-icon>
    <md-tooltip>Create Deployment</md-tooltip>
  </md-button>
</div>
