<!--
deployments view
-->
<div layout='column'>
	<md-card ng-repeat='(id, deployment) in _deployments' flex-gt-sm='40' flex='100'>

		<!-- Top bar for each deployment -->
		<md-toolbar flex layout='column' ng-class="{'md-warn': deployments.deploymentStatus[deployment.id].error > 0}" ng-click="deployments.toggleExpand(deployment)" md-ink-ripple>
			<section layout='row'>
			<div class="md-toolbar-tools">
				<h2 class="md-flex">{{deployment.name}}</h2>
			</div>
			<span flex></span>

			<!-- Sparkline for the nodes -->
			<span spark class='inset' type='pie' ng-model="deployments.deploymentPie[deployment.id]" opts='{{deployments.opts}}'>
			</span>
			
			<!-- Expand button -->
			<span class='inset'>
				<md-button class="md-icon-button">
					<md-icon ng-hide="expand[deployment.id]">expand_more</md-icon>
					<md-icon ng-show="expand[deployment.id]">expand_less</md-icon>
				</md-button>
			</span>
			</section>

			<!-- Progress bar for roles, progress is the % of ready nodes-->
			<md-progress-linear md-mode="determinate" ng-class="{'md-warn': deployments.deploymentStatus[deployment.id].error > 0}" value="{{100*(1-deployments.deploymentStatus[deployment.id].error/deployments.deploymentStatus[deployment.id].total)}}"
			></md-progress-linear>

		</md-toolbar>

		<!-- Tabs that appear after the expand button is pressed -->
		<section ng-show='expand[deployment.id]'>
			
			<md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always" >

				<!-- Nodes tab -->
				<md-tab label="Nodes">
						<!-- Add all the nodes as list items -->
						<span ng-repeat="node in _nodes | from:'deployment':deployment | filter:{system: false} | orderBy: 'name'">
							<!-- Node button -->
							<md-button class="md-fab md-primary md-mini" md-theme="status_{{node.status}}" ng-href="/#/nodes/{{node.id}}">
								<md-tooltip md-direction="bottom">
									{{node.name}}
								</md-tooltip>
								<md-icon>{{icons[node.status]}}</md-icon>
							</md-button>

						</span>

				</md-tab>

				<!-- Roles tab -->
				<md-tab label="Roles">

					<!-- Add all the Deployment Roles-->
					<span ng-repeat="role in _deployment_roles | from:'deployment':deployment | orderBy: 'cohort'">
						<md-button class="md-fab md-primary md-mini" ng-href='#/roles/{{role.role_id}}'>
							<md-tooltip md-direction="bottom">
								{{_roles[role.role_id].name}}
							</md-tooltip>
							<md-icon>{{_roles[role.role_id].icon}}</md-icon>
						</md-button>
					</span>
				</md-tab>
			</md-tabs>

			<md-divider/>

			<!-- Toolbar with icons -->
			<md-card-actions layout="row" layout-align="start center">
				<md-button class='md-icon-button' ng-if='deployment.state == -1' ng-click='proposeDeployment(id)'>
					<md-icon>build</md-icon>
					<md-tooltip>Correct</md-tooltip>
				</md-button>

				<md-button class='md-icon-button' ng-if='deployment.state == 0' ng-click='commitDeployment(id)'>
					<md-icon>send</md-icon>
					<md-tooltip>Commit</md-tooltip>
				</md-button>

				<md-menu md-position-mode="target-right target" ng-if='deployment.state == 0' style='padding: 0;'>
					<md-button class='md-icon-button' ng-click='$mdOpenMenu($event)'>
						<md-icon>add</md-icon>
						<md-tooltip>Add Role</md-tooltip>
					</md-button>
					<md-menu-content width="4" >
						<md-menu-item ng-repeat="role in getRoles(id) | filter:{milestone: true} | orderBy:'name'">
							<md-button ng-click="addRole(role.id, id)">
								<div layout="row" flex>
									<p flex>{{role.name}}</p>
									<md-icon md-menu-align-target style="margin: auto 3px auto 0;">{{role.icon}}</md-icon>
								</div>
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>

				<md-button class='md-icon-button' ng-if='deployment.state == 2' ng-click='proposeDeployment(id)'>
					<md-icon>mode_edit</md-icon>
					<md-tooltip>Propose</md-tooltip>
				</md-button>


				<!-- Right side of toolbar -->
				<md-card-icon-actions layout-align='end center'>
					<md-button class='md-icon-button' ng-click='deleteDeployment($event, id)'>
						<md-icon>delete</md-icon>
						<md-tooltip>Destroy</md-tooltip>
					</md-button>
				</md-card-icon-actions>
			</md-card-actions>

		</section>
</div>

<div class='add-fab'>
	<md-button class='md-fab md-accent'>
		<md-icon>add</md-icon>
		<md-tooltip>Create Deployment</md-tooltip>
	</md-button>
</div>