<md-card ng-repeat='zone in _DNS.zones'>
  <md-toolbar class="md-default">
    <div class="md-toolbar-tools">
      <span flex>
        {{zone.name}}
      </span>
      <span>
        <md-button class='md-icon-button' ng-click='add($event, zone)'>
          <md-icon>add</md-icon>
          <md-tooltip>Add Record</md-tooltip>
        </md-button>
      </span>
    </div>
  </md-toolbar>

  <md-card-content>
    <table layout-padding style='min-width: 50%;'>
      <tr>
        <td class='label'>Name</td>
        <td>
          {{zone.name}}
        </td>
      </tr>
    </table>
    <h3>Records</h3>
    <md-table-container>
      <table md-table>
        <thead md-head md-order="myOrder">
          <tr md-row>
            <th md-column md-order-by='name'>Name</th>
            <th md-column md-order-by='content'>Content</th>
            <th md-column md-order-by='type'>Type</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat='record in zone.records | orderBy:myOrder'>
            <td md-cell>{{record.name}}</td>
            <td md-cell>{{record.content}}</td>
            <td md-cell>{{record.type}}</td>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-card-content>

</md-card>