<md-card ng-repeat='zone in _DNS.zones'>
  <md-toolbar class="md-default">
    <div class="md-toolbar-tools">
      <span flex>
        {{zone.name}}
      </span>
      <span>
        <md-button class='md-icon-button' ng-click='add($event, zone)'>
          <md-icon>add</md-icon>
          <md-tooltip>Add Record</md-tooltip>
        </md-button>
      </span>
    </div>
  </md-toolbar>

  <md-card-content>
    <table layout-padding style='min-width: 50%;'>
      <tr>
        <td class='label'>Name</td>
        <td>
          {{zone.name}}
        </td>
      </tr>
      <tr>
        <td class='label' valign="top">Records</td>
        <td flex>
          <md-list>
            <div ng-repeat='record in zone.records'>
              <md-list-item
                class='md-3-line'>
                <div class="md-list-item-text" layout="column">
                  <h3>
                    {{ record.name }}
                  </h3>
                  <h4>{{ record.content }}</h4>
                  <p>{{ record.type }}</p>
                </div>
                <md-button class='md-icon-button' ng-click='remove(zone, record)'>
                  <md-icon>delete</md-icon>
                  <md-tooltip>Remove</md-tooltip>
                </md-button>
              </md-list-item>
              <md-divider></md-divider>
            </div>
          </md-list>
        </td>
      </tr>
    </table>
  </md-card-content>

</md-card>