<md-card flex class='graph-card'>
  <div ng-switch="hasGraph">
    <md-card-content ng-switch-when="-1" style='margin-top: 4em'>
      <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </md-card-content>
    <md-card-content ng-switch-when="0" style='margin-top: 4em'>
      Error Loading Graph
    </md-card-content>
    <md-card-content ng-switch-when="1"  style='padding: 0;'>
      <div class="graph">
        <vis-network data='graphData' options='graphOptions' events="{}"></vis-network>
      </div>
    </md-card-content>
  </div>
  <section class='graph-overlay' layout='row'>
    <md-input-container style='margin: 0 1em 0 1em;'>
      <md-select ng-model='graphType' ng-change='getGraph()'>
        <md-option value='node_roles'>Node Role</md-option>
        <md-option value='roles'>Role</md-option>
      </md-select>
    </md-input-container>
    
    <div>
      <md-checkbox ng-model="graphHLayout" aria-label="checkbox" style='margin: 8px;'>
        Hierarchical Layout
      </md-checkbox>
    </div>

    <span flex></span>

    <md-button class='md-icon-button' ng-click='getGraph()'> 
      <md-icon>
        refresh
      </md-icon>
      <md-tooltip>
        Reload Graph
      </md-tooltip>
    </md-button>
  </section>
</md-card>
