<md-card>
  <md-toolbar class="md-default">
    <div class="md-toolbar-tools">
      <span>
        {{network.name}}
      </span>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="startEditing()" ng-hide="editing">
        <md-icon>edit</md-icon>
        <md-tooltip>
          Edit
        </md-tooltip>
      </md-button>
      <md-button class="md-icon-button" ng-click="saveNetwork()" ng-show="editing">
        <md-icon>save</md-icon>
        <md-tooltip>
          Save
        </md-tooltip>
      </md-button>
      <md-button class="md-icon-button" ng-click="stopEditing()" ng-show="editing">
        <md-icon>close</md-icon>
        <md-tooltip>
          Stop Editing
        </md-tooltip>
      </md-button>
      <md-button class="md-icon-button" ng-click="delete()">
        <md-icon>delete</md-icon>
        <md-tooltip>Delete</md-tooltip>
      </md-button>
    </div>

  </md-toolbar>
  <md-card-content>
    <table layout-padding>
      <tr>
        <td class="label">
          Name
        </td>
        <td>
          {{network.name}}
        </td>
      </tr>
      <tr>
        <td class="label">
          Description
        </td>
        <td>
          <input type="text" class="table-input" ng-readonly="!editing" ng-model="network.description" />
        </td>
      </tr>
      <tr>
        <td class="label">
          Category
        </td>
        <td>
          <input type="text" class="table-input" ng-readonly="!editing" ng-model="network.category" />
        </td>
      </tr>
      <tr>
        <td class="label">
          Group
        </td>
        <td>
          <input type="text" class="table-input" ng-readonly="!editing" ng-model="network.group" />
        </td>
      </tr>
      <tr>
        <td class="label">
          PBR
        </td>
        <td>
          <input type="text" class="table-input" ng-readonly="!editing" ng-model="network.pbr" />
        </td>
      </tr>
      <tr>
        <td class="label">
          Deployment
        </td>
        <td>
          <a ng-href="#/deployments/{{network.deployment_id}}">
            {{_deployments[network.deployment_id].name}}
          </a>
          <md-menu md-position-mode="target-right target">
            <span>
              <md-icon style="width: 6px; height: 6px; position: relative; margin-top: -20px;" ng-click="$mdOpenMenu($event)">build</md-icon>
            </span>
            <md-menu-content width="4">
              <md-menu-item ng-repeat="deployment in _deployments">
                <md-button ng-click="assignNetworks([network], deployment.id)">
                  <div layout="row" flex>
                    <p flex>{{deployment.name}}</p>
                    <md-icon md-menu-align-target style="margin: auto 3px auto 0;">arrow_forward</md-icon>
                  </div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="$mdCloseMenu($event)">
                  <div layout="row" flex>
                    <p flex>Cancel</p>
                    <md-icon md-menu-align-target style="margin: auto 3px auto 0;">cancel</md-icon>
                  </div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </td>
      </tr>
      <tr>
        <td class="label">
          Tenant
        </td>
        <td>
          <a ng-href="#/tenants/{{_tenants[network.tenant_id].uuid}}">
            {{_tenants[network.tenant_id].name}}
          </a>
          <md-menu md-position-mode="target-right target">
            <span>
              <md-icon style="width: 6px; height: 6px; position: relative; margin-top: -20px;" ng-click="$mdOpenMenu($event)">build</md-icon>
            </span>
            <md-menu-content width="4">
              <md-menu-item ng-repeat="tenant in _tenantsInOrder">
                <md-button ng-click="assignNetworksToTenant([network], tenant.id)">
                  <div layout="row" flex>
                    <p flex>{{tenant.name}}</p>
                    <md-icon md-menu-align-target style="margin: auto 3px auto 0;">arrow_forward</md-icon>
                  </div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </td>
      </tr>
      <tr>
        <td class="label">
          Conduits
        </td>
        <td>
          <input type="text" class="table-input" ng-readonly="!editing" ng-model="network.conduit" />
        </td>
      </tr>
      <tr>
        <td class="label">
          VLAN
        </td>
        <td layout="row">
          <md-switch ng-model="network.use_vlan" aria-label="Switch" ng-disabled="!editing" style="margin: 0;">
            <md-tooltip>
              Enable/Disable VLAN
            </md-tooltip>
          </md-switch>
          <input type="text" class="table-input" ng-readonly="!editing" ng-model="network.vlan" />
        </td>
      </tr>
      <tr>
        <td class="label">
          IPv6 Prefix
        </td>
        <td>
          <input type="text" class="table-input" ng-readonly="!editing" ng-model="network.v6prefix" />
        </td>
      </tr>
      <tr>
        <td class="label">
          Team
        </td>
        <td layout="row">
          <md-switch ng-model="network.use_team" aria-label="Switch" ng-disabled="!editing" style="margin: 0;">
            <md-tooltip>
              Enable/Disable Team
            </md-tooltip>
          </md-switch>
          <input type="text" class="table-input" ng-readonly="!editing" ng-model="network.team_mode" />
        </td>
      </tr>
      <tr>
        <td class="label">
          Bridge
        </td>
        <td layout="row">
          <md-switch ng-model="network.use_bridge" aria-label="Switch" ng-disabled="!editing" style="margin: 0;">
            <md-tooltip>
              Enable/Disable Bridge
            </md-tooltip>
          </md-switch>
        </td>
      </tr>
    </table>
  Questions? See the <a href="http://digital-rebar.readthedocs.io/en/latest/deployment/networks/README.html">Networking Specific Help</a>.
  </md-card-content>
</md-card>

<md-card>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span>Ranges</span>
      <span flex></span>
      <span ng-if="hasRanges == 1">
        <md-button
          class="md-icon-button"
          ng-click="startEditingRanges()"
          ng-hide="editingRanges">
          <md-icon>edit</md-icon>
          <md-tooltip>
            Edit
          </md-tooltip>
        </md-button>
        <md-button
          class="md-icon-button"
          ng-click="saveNetworkRanges()"
          ng-show="editingRanges">
          <md-icon>save</md-icon>
          <md-tooltip>
            Save
          </md-tooltip>
        </md-button>
        <md-button
          class="md-icon-button"
          ng-click="stopEditingRanges()"
          ng-show="editingRanges">
          <md-icon>close</md-icon>
          <md-tooltip>
            Stop Editing
          </md-tooltip>
        </md-button>
        <md-button
          class="md-icon-button"
          ng-click="addRange()">
          <md-icon>add</md-icon>
          <md-tooltip>
            Add Range
          </md-tooltip>
        </md-button>
      </span>
    </div>
  </md-toolbar>
  <md-card-content>
    <div ng-switch="hasRanges">
      <md-card-content ng-switch-when="-1">
        <div layout="row" layout-sm="column" layout-align="space-around">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
      </md-card-content>
      <md-card-content ng-switch-when="0">
        Error Loading Ranges
      </md-card-content>
      <md-card-content ng-switch-when="1">
        <table layout-padding>
          <thead>
            <th>Name</th>
            <th>First IP</th>
            <th>Last IP</th>
            <th colspan="2">Anon Lease</th>
            <th colspan="2">Bound Lease</th>
            <th></th>
          </thead>
          <tbody>
            <tr ng-repeat="(id, range) in ranges">
              <td>
                <input type="text" class="table-input" ng-readonly="!editingRanges" ng-model="range.name" />
              </td>
              <td>
                <input type="text" class="table-input" ng-readonly="!editingRanges" ng-model="range.first" />
              </td>
              <td>
                <input type="text" class="table-input" ng-readonly="!editingRanges" ng-model="range.last" />
              </td>
              <td>
                <input type="checkbox" ng-readonly="!editingRanges" ng-model="range.allow_anon_leases" />
              </td>
              <td>
                <input ng-show='range.allow_anon_leases' type="number" class="table-input" ng-readonly="!editingRanges" ng-model="range.anon_lease_time" />
                <span ng-show='range.name=="dhcp" && !range.allow_anon_leases'>tip: set Anon Lease</span>
              </td>
              <td>
                <input type="checkbox" ng-readonly="!editingRanges" ng-model="range.allow_bound_leases" />
              </td>
              <td>
                <input ng-show='range.allow_bound_leases' type="number" class="table-input" ng-readonly="!editingRanges" ng-model="range.bound_lease_time" />
                <span ng-show='range.name=="host" && !range.allow_bound_leases'>tip: set Bound Lease</span>
              </td>
              <td>
                <md-button class="md-icon-button" ng-click="deleteRange(range.id)">
                  <md-icon>delete</md-icon>
                  <md-tooltip>Delete Range</md-tooltip>
                </md-button>                
              </td>
            </tr>
          </tbody>
        </table>
      </md-card-content>
    </div>
  </md-card-content>
</md-card>

<md-card>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span>Router</span>
      <span flex></span>
      <span ng-if="hasRouter == 1">
        <md-button
          class="md-icon-button"
          ng-click="startEditingRouter()"
          ng-hide="editingRouter">
          <md-icon>edit</md-icon>
          <md-tooltip>
            Edit
          </md-tooltip>
        </md-button>
        <md-button
          class="md-icon-button"
          ng-click="saveNetworkRouter()"
          ng-show="editingRouter">
          <md-icon>save</md-icon>
          <md-tooltip>
            Save
          </md-tooltip>
        </md-button>
        <md-button
          class="md-icon-button"
          ng-click="stopEditingRouter()"
          ng-show="editingRouter">
          <md-icon>close</md-icon>
          <md-tooltip>
            Stop Editing
          </md-tooltip>
        </md-button>
      </span>
    </div>
  </md-toolbar>
  <md-card-content>
    <div ng-switch="hasRouter">
      <md-card-content ng-switch-when="-1">
        <div layout="row" layout-sm="column" layout-align="space-around">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
      </md-card-content>
      <md-card-content ng-switch-when="0">
        Error Loading Router
      </md-card-content>
      <md-card-content ng-switch-when="1">
        <table layout-padding>
          <tr>
            <td class="label">
              Address
            </td>
            <td>
              <input type="text" class="table-input" ng-readonly="!editingRouter" ng-model="router.address" />
            </td>
          </tr>
          <tr>
            <td class="label">
              Pref
            </td>
            <td>
              <input type="text" class="table-input" ng-readonly="!editingRouter" ng-model="router.pref" />
            </td>
          </tr>
        </table>
      </md-card-content>
    </div>
  </md-card-content>
</md-card>
