<md-card>
  <md-toolbar class="md-default" md-theme="status_{{ api.getNodeStatus(node) }}">
    <div class="md-toolbar-tools">
      <span>
        <md-icon class="md-primary">
          {{api.getNodeIcon(node)}}
          <md-tooltip>
            {{node.available ? '' : 'Reserved'}} {{node.status}}
          </md-tooltip>
        </md-icon>
      </span>
      <span flex>
        {{node.name}}
      </span>
      <md-button ng-repeat="pb in power" aria-label="{{pb}}" class="md-icon-button" ng-click="setPower(pb)">
        <md-icon>{{ powers[pb] || powers["on"] }}</md-icon>
        <md-tooltip>{{ pb }}</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="redeploy" ng-click="redeploy()">
        <md-icon>low_priority</md-icon>
        <md-tooltip>Redeploy Node</md-tooltip>
      </md-button>
      <md-menu md-position-mode="target-right target" style="padding: 0;">
        <md-button class="md-icon-button" aria-label="bind" ng-click="$mdOpenMenu($event)">
          <md-icon>link</md-icon>
          <md-tooltip>Bind Node Role</md-tooltip>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item ng-repeat="role in getRoles() | orderBy:'name'">
            <md-button aria-label="{{ _roles[role.id].name }}" ng-click="bindNodeRole(role.role_id)">
              <md-icon md-menu-align-target style="margin: auto 3px auto 0;">{{_roles[role.id].icon}}</md-icon>
              <md-title>{{ _roles[role.id].name }}</md-title>
              <md-tooltip>{{ _roles[role.id].description }}</md-tooltip>
            </md-button>
          </md-menu-item>
          <md-menu-item ng-if="getRoles().length == 0">
            <md-button ng-click="$mdCloseMenu($event)">
              <div layout="row" flex>
                <p flex>No Deployment Roles</p>
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">close</md-icon>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <md-button class="md-icon-button" ng-if="node.available" ng-click="reserve(true)">
        <md-icon>pause</md-icon>
        <md-tooltip>Reserve Node</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" ng-if="!node.available" ng-click="reserve(false)">
        <md-icon>play_arrow</md-icon>
        <md-tooltip>Release Node</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" ng-click="nodes.deleteNode()">
        <md-icon>delete</md-icon>
        <md-tooltip>Delete Node</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" ng-click="nodes.showEditNodeDialog($event, node)">
        <md-icon>mode_edit</md-icon>
        <md-tooltip>Edit Node</md-tooltip>
      </md-button>
    </div>
  </md-toolbar>

  <md-card-content>
    <table layout-padding>
      <tr>
        <td class="label">Description</td>
        <td>{{ node.description.length > 0 ? node.description : "[not set]" }}</td>
      </tr>
      <tr>
        <td class="label">Deployment</td>
        <td>
          <a ng-href="#/deployments/{{node.deployment_id}}">
            {{_deployments[node.deployment_id].name}}
          </a>
          <md-menu md-position-mode="target-right target">
            <span>
              <md-icon style="width: 6px; height: 6px; position: relative; margin-top: -20px;" ng-click="$mdOpenMenu($event)">build</md-icon>
            </span>
            <md-menu-content width="4">
              <md-menu-item ng-repeat="deployment in _deployments">
                <md-button ng-click="assignNodes([node], deployment.id)">
                  <div layout="row" flex>
                    <p flex>{{deployment.name}}</p>
                    <md-icon md-menu-align-target style="margin: auto 3px auto 0;">arrow_forward</md-icon>
                  </div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </td>
      </tr>
      <tr>
        <td class="label">Tenant</td>
        <td>
          <a ng-href="#/tenants/{{_tenants[node.tenant_id].uuid}}">
            {{_tenants[node.tenant_id].name}}
          </a>
          <md-menu md-position-mode="target-right target">
            <span>
              <md-icon style="width: 6px; height: 6px; position: relative; margin-top: -20px;" ng-click="$mdOpenMenu($event)">build</md-icon>
            </span>
            <md-menu-content width="4">
              <md-menu-item ng-repeat="tenant in _tenantsInOrder">
                <md-button ng-click="assignNodesToTenant([node], tenant.id)">
                  <div layout="row" flex>
                    <p flex>{{tenant.name}}</p>
                    <md-icon md-menu-align-target style="margin: auto 3px auto 0;">arrow_forward</md-icon>
                  </div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </td>
      </tr>
      <tr>
        <td class="label">Boot Environment</td>
        <td>
          <div ng-if="showProvisioner">
            <a ng-href="#/provisioner/bootenvs/{{node.bootenv}}">{{node.bootenv}}</a>
          </div>
          <span ng-if="!showProvisioner">
            {{node.bootenv}}
          </span>
        </td>
      </tr>
      <tr ng-if="showProvisioner">
        <td class="label">Machine</td>
        <td>
          <a ng-href="#/provisioner/machines/{{node.uuid}}">{{node.uuid}}</a>
        </td>
      </tr>
      <tr>
        <td class="label">Address</td>
        <td>
          <a target="_new" ng-href="https://{{node.address.slice(0,-3)}}">{{node.address}}</a>
        </td>
      </tr>
      <tr ng-if="bmc != null">
        <td class="label">BMC</td>
        <td>
          <a target="_new" ng-href="https://{{ bmc }}">{{bmc}}</a>
        </td>
      </tr>
      <tr>
        <td class="label">Status</td>
        <td>
          {{node.reserved ? 'Reserved' : ''}} {{node.alive ? 'On' : 'Off'}} {{states[node.state]}}
        </td>
      </tr>
      <tr>
        <td class="label">Provider</td>
        <td>
          <a ng-href="#/providers/{{node.provider_id}}">{{_providers[node.provider_id].name}}</a>
        </td>
      </tr>
      <tr>
        <td class="label"><a ng-href="#/profiles">Profile(s)</a></td>
        <td>
          <span ng-repeat="p in node.profiles | orderBy: p">
            {{p}}{{ $last ? '' : ", "}}
          </span>
        </td>
      </tr>
    </table>

    <!-- Show Networks ONLY FOR METAL PROVIDER -->
    <div ng-show="nics != {}">
      <span class="label">
        <md-icon>swap_horiz</md-icon>
        Network Interfaces
      </span>
      <ul>
        <li ng-repeat="network in nics | orderBy: _networks[network[0].network_id].name">
          <a title="{{_networks[network[0].network_id].description}}" href="#/networks/{{network[0].network_id}}">{{_networks[network[0].network_id].name}}</a>:
          <span ng-repeat="nic in network | orderBy: _network_ranges[nic.network_range_id].name">
            {{ _network_ranges[nic.network_range_id].name }}
            <a target="_new" href="https://{{nic.address}}">{{nic.address}}</a>
            ({{ _network_ranges[nic.network_range_id].conduit }})
            {{ $last ? '' : ", "}}
          </span>
        </li>
      </ul>
    </div>
  </md-card-content>
</md-card>

<!-- Show node roles -->
<md-card>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span>Node Roles</span>
    </div>
  </md-toolbar>
  <md-card-content>
    <span ng-repeat="role in _node_roles | from:'node':node | orderBy: role.cohort()">
      <md-button class="md-fab md-primary" aria-label="role" md-theme="status_{{role.status}}" ng-href="#/node_roles/{{role.id}}">
        <md-tooltip md-direction="bottom">{{_roles[role.role_id].name}}</md-tooltip>
        <md-icon>{{_roles[role.role_id].icon}}</md-icon>
      </md-button>
    </span>
  </md-card-content>
</md-card>

<!-- Show node attributes -->
<md-card>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span>Attributes</span>
      <span flex></span>
    </div>
  </md-toolbar>
  <div data-ng-include="'views/attrib_render.tmpl.html'">
  </div>
</md-card>
