<md-card>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span>
        <md-icon class='md-primary' md-theme='status_{{node_role.status}}'>
          {{icons[node_role.status]}}
        </md-icon>
        <a ng-href='#/deployments/{{node_role.deployment_id}}'>
          {{_deployments[node_role.deployment_id].name}}
        </a>
        <a ng-href='#/nodes/{{node_role.node_id}}'>
          {{_nodes[node_role.node_id].name}}
        </a>
        <a ng-href='#/roles/{{node_role.role_id}}'>
          {{_roles[node_role.role_id].name}}
        </a>
      </span>
      <span flex></span>
      <md-button class='md-icon-button' ng-click='retry()'>
        <md-icon>redo</md-icon>
        <md-tooltip>Retry</md-tooltip>
      </md-button>
      <md-button class='md-icon-button' ng-click='destroy()'>
        <md-icon>delete</md-icon>
        <md-tooltip>Destroy</md-tooltip>
      </md-button>
    </div>
  </md-toolbar>

  <md-card-content>
  </md-card-content>

</md-card>

<md-card>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span>Run Log</span>
    </div>
  </md-toolbar>
  <md-card-content>
    {{node_role.run_log || "None"}}
  <md-card-content>
</md-card>
