<md-card>
	<md-toolbar class="md-default" md-theme='status_{{node.status}}'>
		<div class="md-toolbar-tools">
			<span flex>
				<md-icon class='md-primary'>
					{{icons[node.status]}}
					<md-tooltip>
            {{node.status}}
					</md-tooltip>
				</md-icon>

				{{node.name}}
			</span>
			<md-button class='md-icon-button' ng-click='nodes.redeploy()'>
				<md-icon>replay</md-icon>
        <md-tooltip>Redeploy Node</md-tooltip>
			</md-button>
			<md-menu md-position-mode="target-right target" style='padding: 0;'>
        <md-button class='md-icon-button' ng-click='$mdOpenMenu($event)'>
          <md-icon>link</md-icon>
          <md-tooltip>Bind Node Role</md-tooltip>
        </md-button>
        <md-menu-content width="4" >
          <md-menu-item ng-repeat="role in getRoles() | orderBy:'name'">
            <md-button ng-click="bindNodeRole(role.role_id)">
              <div layout="row" flex>
                <p flex>{{_roles[role.role_id].name}}</p>
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">{{_roles[role.role_id].icon}}</md-icon>
              </div>
            </md-button>
          </md-menu-item>
          <md-menu-item ng-if='getRoles().length == 0'>
            <md-button ng-click="$mdCloseMenu($event)">
              <div layout="row" flex>
                <p flex>No Deployment Roles</p>
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">close</md-icon>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

			<md-button class='md-icon-button' ng-click='nodes.deleteNode()'>
				<md-icon>delete</md-icon>
        <md-tooltip>Delete Node</md-tooltip>
			</md-button>
		</div>
	</md-toolbar>

	<md-card-content>
		<table layout-padding>
			<tr>
				<td class='label'>Deployment</td>
				<td>
					<a ng-href='#/deployments/{{node.deployment_id}}'>
						{{_deployments[node.deployment_id].name}}
					</a>
					<md-menu md-position-mode="target-right target" >
						<span>
							<md-icon style='width: 6px; height: 6px; position: relative; margin-top: -20px;' ng-click="$mdOpenMenu($event)">build</md-icon>
						</span>
						<md-menu-content width="4" >
							<md-menu-item ng-repeat="deployment in _deployments">
								<md-button ng-click="assignNodes([node], deployment.id)">
									<div layout="row" flex>
										<p flex>{{deployment.name}}</p>
										<md-icon md-menu-align-target style="margin: auto 3px auto 0;">arrow_forward</md-icon>
									</div>
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="$mdCloseMenu($event)">
									<div layout="row" flex>
										<p flex>Cancel</p>
										<md-icon md-menu-align-target style="margin: auto 3px auto 0;">cancel</md-icon>
									</div>
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</td>
			</tr>
			<tr>
				<td class='label'>Boot Environment</td>
				<td>{{node.bootenv}}</td>
			</tr>
			<tr>
				<td class='label'>Address</td>
				<td>{{node.address}}</td>
			</tr>
			<tr>
				<td class='label'>Status</td>
				<td>
					{{node.reserved ? 'Reserved' : ''}}
					{{node.alive ? 'On' : 'Off'}}
					{{states[node.state]}}
				</td>
			</tr>
			<tr>
				<td class='label'>Provider</td>
				<td>
					<a ng-href='#/providers/{{node.provider_id}}'>{{_providers[node.provider_id].name}}</a>
				</td>
			</tr>
		</table>
	</md-card-content>

</md-card>

<!-- Show node roles -->
<md-card>
	<md-toolbar class="md-table-toolbar md-default">
		<div class="md-toolbar-tools">
			<span>Node Roles</span>
		</div>
	</md-toolbar>
	<md-card-content>
		<span ng-repeat="role in _node_roles | from:'node':node | orderBy: role.cohort()">

			<md-button class="md-fab md-primary" md-theme="status_{{role.status}}" ng-href='#/node_roles/{{role.id}}'>
				<md-icon>{{_roles[role.role_id].icon}}</md-icon>
				<md-tooltip md-direction="bottom">
					{{_roles[role.role_id].name}}
				</md-tooltip>
			</md-button>
		</span>
	<md-card-content>
</md-card>

<!-- Show node attributes -->
<md-card>
	<md-toolbar class="md-table-toolbar md-default">
		<div class="md-toolbar-tools">
			<span>Attributes</span>
		</div>
	</md-toolbar>
	<div ng-switch="hasAttrib">
		<md-card-content ng-switch-when="-1">
			<div layout="row" layout-sm="column" layout-align="space-around">
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
		</md-card-content>
		<md-card-content ng-switch-when="0">
			Error Loading Attributes
		</md-card-content>
		<md-card-content ng-switch-when="1">
			<table layout-padding>
				<tbody>
					<tr ng-repeat="attrib in attribs | orderBy:'name'">
						<td class='label' valign="top">
							<a ng-click='alert(attrib.id)'>
								{{attrib.name}}
							</a>
						</td>
						<td ng-switch='attrib.schema.type'>
							<div data-ng-switch-default>
								<div ng-if='attrib.len > 70' ng-click="visible=!visible">
									<div ng-hide='visible'>
										Click to Expand
									</div>
									<pre ng-show='visible' style='overflow-x: auto;'>{{attrib.value}}</pre>
								</div>
								<pre ng-if='attrib.len <= 70'>{{attrib.value}}</pre>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</md-card-content>
	</div>
</md-card>
