<md-card>
	<md-toolbar class="md-table-toolbar md-default" ng-hide='nodes.selected.length'>
		<div class="md-toolbar-tools">
			<span>Nodes ({{nodes.getNodes().length}})</span>
			<span flex></span>
			<md-button class="md-icon-button" ng-click='nodes.showAddNodeDialog()'>
			  <md-icon>add</md-icon>
        <md-tooltip>
          Add Nodes
        </md-tooltip>
			</md-button>
		</div>
	</md-toolbar>

	<md-toolbar class="md-table-toolbar alternate" ng-show='nodes.selected.length'>
		<div class="md-toolbar-tools">
			<span>{{nodes.selected.length}} node{{nodes.selected.length != 1 && 's' || ''}} selected</span>
			<span flex></span>
      <md-button class='md-icon-button' ng-click='redeploySelected()'>
        <md-icon>replay</md-icon>
        <md-tooltip>Redeploy Nodes</md-tooltip>
      </md-button>
			<md-menu md-position-mode="target-right target" >
				<md-button class='md-icon-button' ng-click="$mdOpenMenu($event)">
					<md-icon>swap_horiz</md-icon>
	        <md-tooltip>Move Nodes</md-tooltip>
				</md-button>
        <md-menu-content width="4" >
          <md-menu-item ng-repeat="deployment in _deployments">
            <md-button ng-click="assignNodes(nodes.selected, deployment.id)">
            	<div layout="row" flex>
                <p flex>{{deployment.name}}</p>
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">arrow_forward</md-icon>
              </div>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="$mdCloseMenu($event)">
            	<div layout="row" flex>
                <p flex>Cancel</p>
                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">cancel</md-icon>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

			<md-button class='md-icon-button' ng-click='nodes.deleteSelected()'>
				<md-icon>delete</md-icon>
        <md-tooltip>Delete Nodes</md-tooltip>
			</md-button>
		</div>
	</md-toolbar>

	<md-table-container>
		<table md-table md-row-select ng-model="nodes.selected">
			<thead md-head md-order="myOrder">
				<tr md-row>
          <th md-column md-order-by='state'>State</th>
					<th md-column md-order-by='name'>Name</th>
					<th md-column>Address</th>
					<th md-column>Description</th>
					<th md-column md-order-by='provider_id'>Provider</th>
					<th md-column md-order-by='deployment_id'>Deployment</th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row md-select="node" md-select-id="{{node.id}}" md-auto-select ng-repeat="node in nodes.getNodes() | orderBy: myOrder | not:'system'">
        <td md-cell>
          <md-button class='md-primary md-fab md-mini' md-theme='status_{{node.status}}'>
            <md-icon>
              {{icons[node.status]}}
            </md-icon>
            <md-tooltip>
    					{{node.reserved ? 'Reserved' : ''}}
    					{{node.alive ? 'On' : 'Off'}}
    					{{states[node.state]}}
            </md-tooltip>
          </md-button>
        </td>

        <td md-cell><a ng-href='#/nodes/{{node.id}}'>{{node.name}}</a></td>
        <td md-cell>{{node.address}}</td>
				<td md-cell>{{node.description}}</td>
				<td md-cell><a ng-href='#/providers/{{node.provider_id}}'>{{_providers[node.provider_id].name}}</a></td>
				<td md-cell>
					<a ng-href='#/dash/{{node.deployment_id}}'>
						{{_deployments[node.deployment_id].name}}
					</a>
				</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
</md-card>
