<!--
provisioner templates view
-->
<div>
  <md-card ng-repeat='template in _provisioner.templates' flex='100'>

    <md-toolbar ng-click="expand[template.UUID]=!expand[template.UUID]" md-ink-ripple>
      <div class="md-toolbar-tools">
        <h2 flex>
          {{template.UUID}}
        </h2>
        <span>
          <md-button class="md-icon-button">
            <md-icon ng-hide="expand[template.UUID]">expand_more</md-icon>
            <md-icon ng-show="expand[template.UUID]">expand_less</md-icon>
          </md-button>
        </span>
      </div>
    </md-toolbar>
    <div ng-slide-down="expand[template.UUID]" lazy-render duration="0.25">
      <section layout-padding style='overflow-x: auto;'>
        <pre>{{template.Contents}}</pre>
      </section>
    </div>
</div>

<!-- Floating action button at the bottom right of the screen -->
<div>
  <md-button class='md-fab md-accent md-fab-bottom-right' ng-click='createTemplatePrompt($event)'>
    <md-icon>add</md-icon>
    <md-tooltip>Create Template</md-tooltip>
  </md-button>
</div>