<md-card>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span flex>
        <md-icon>label_outline</md-icon>
        Roles ({{getRoles().length}})
      </span>
      <md-button class="md-icon-button" ng-href="#/node_roles">
        <md-icon>dns</md-icon>
        <md-tooltip md-direction="bottom">
          Node Roles
        </md-tooltip>
      </md-button>
      <md-button class="md-icon-button" ng-href="#/deployment_roles">
        <md-icon>dashboard</md-icon>
        <md-tooltip md-direction="bottom">
          Deployment Roles
        </md-tooltip>
      </md-button>
    </div>
  </md-toolbar>

  <md-table-container>
    <table md-table>
      <thead md-head md-order="myOrder">
        <tr md-row>
          <th md-column>Role</th>
          <th md-column md-order-by="name">Name</th>
          <th md-column md-order-by="barclamp_id">Barclamp</th>
          <th md-column md-order-by="jig_name">Jig</th>
          <th md-column>Description</th>
          <th md-column>Flags</th>
          <!-- ["library","implicit","bootstrap","discovery","cluster","destructive","abstract"] -->
          <th md-column>Provides</th>
          <th md-column>Conflicts</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="role in getRoles() | orderBy: myOrder">
          <td md-cell>
            <md-button ng-href="#/roles/{{role.id}}" class="md-primary md-fab md-mini">
              <md-icon>
                {{role.icon}}
              </md-icon>
              <md-tooltip>
                {{role.name}}
              </md-tooltip>
            </md-button>
          </td>
          <td md-cell>
            <a ng-href="#/roles/{{role.id}}">{{role.name}}</a>
          </td>
          <td md-cell>
            <a ng-href="#/barclamps/{{role.barclamp_id}}">
            {{_barclamps[role.barclamp_id].name}}
          </a>
          </td>
          <td md-cell>
            {{role.jig_name}}
          </td>
          <td md-cell>
            {{role.description}}
          </td>
          <td md-cell>
            <span ng-repeat="flag in flags" ng-if="role[flag]">
            {{flag}}
            </span>
          </td>
          <td md-cell>
            <span ng-repeat="provide in role.provides">
            {{provide}}
            </span>
          </td>
          <td md-cell>
            <span ng-repeat="conflict in conflicts">
            {{conflict}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</md-card>
