<md-card>

  <md-card-content ng-repeat="sw in sweetches">
    <h1>
      <md-icon>settings_ethernet</md-icon>
      {{ sw.switch.mac }}
    </h1>
    <span>{{ sw.switch.description }}</span>

    <table layout-padding border="1">
      <tbody>
        <tr align="center">
          <td width="4%" ng-repeat="p in layout">{{p}}</td></tr>
        <tr><td ng-repeat="p in layout">
          <div ng-repeat="node in sw.ports[p]">
            <md-button class="md-fab md-primary md-mini" md-theme="status_{{ api.getNodeStatus(_nodes[node.id]) }}" ng-href="#!/nodes/{{node.id}}">
              <md-tooltip md-direction="bottom">
                {{node.name}}: {{node.nic}}
              </md-tooltip>
              <md-icon aria-label="{{ api.getNodeStatus(_nodes[node.id]) }}">
                {{ api.getNodeIcon(_nodes[node.id]) }}
              </md-icon>
            </md-button>
          </div>
          </td></tr>
        <tr align="center">
          <td ng-repeat="p in layout">{{p+1}}</td></tr>
        <tr><td ng-repeat="p in layout">
          <div ng-repeat="node in sw.ports[p+1]">
            <md-button class="md-fab md-primary md-mini" md-theme="status_{{ api.getNodeStatus(_nodes[node.id]) }}" ng-href="#!/nodes/{{node.id}}">
              <md-tooltip md-direction="bottom">
                {{node.name}}: {{node.nic}}
              </md-tooltip>
              <md-icon aria-label="{{ api.getNodeStatus(_nodes[node.id]) }}">
                {{ api.getNodeIcon(_nodes[node.id]) }}
              </md-icon>
            </md-button>
          </div>
          </td></tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>