<!--
welcome view
-->
<div style="padding: 1em">

  <md-card flex="100" style="padding: 1em">
    <h3>Welcome</h3>
    <div>
      The <a href="http://rebar.digital">Digital Rebar Project</a> by <a href="http://rackn.com">RackN</a> is a container-ready, infrastructure-as-code provisioning platform that delivers the best of software deployment automation and orchestration without locking you into a single hardware platform or operating system. Our mission is to embrace the heterogenous nature of data center operations.
    </div>
  </md-card>


  <md-card flex="100" style="padding: 1em">
    <h3>Help Resources</h3>
    <a target="_new" ng-href="http://digital-rebar.readthedocs.io/en/latest/BOOK.html">
      <md-button class="md-icon-button">
        <md-tooltip>
          Documentation
        </md-tooltip>
        <md-icon>help</md-icon>
      </md-button>
      Digital Rebar Documentation
    </a>
  </md-card>

  <md-card flex="100" style="padding: 1em">
    <h3>Video Tour</h3>
  </md-card>

  <md-card flex="100" style="padding: 1em">
    <h3>Getting Started</h3>
  </md-card>

</div>

