<md-card>
  <md-toolbar class='md-table-toolbar md-default'>
    <div class='md-toolbar-tools' layout='row'>
      <md-icon>
        {{wizard.icon || 'create_new_folder'}}
      </md-icon>
      <h2>
        &nbsp;{{wizard.name}} - {{wizard.description}}
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>

  <md-content layout-padding layout='column'>
    <md-input-container>
      <label>Deployment Name</label>
      <input type="text" ng-model="workloads.name">
    </md-input-container>

    <md-input-container ng-if='wizard.os'>
      <label>OS</label>
      <md-select ng-model="workloads.os">
        <md-option ng-repeat="os in barclamp.cfg_data.barclamp.os_support" value="{{os}}">
          {{os}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container ng-if='wizard.create_nodes'>
      <label>Provider</label>
      <md-select ng-model="workloads.provider">
        <md-option ng-repeat="provider in _providers" value="{{provider.name}}" ng-if='provider.type != "MetalProvider" && provider.type != ""'>
          {{provider.name}}
        </md-option>
      </md-select>
    </md-input-container>
  </md-content>

  <div layout='row'>
    <section flex='66'>
      <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
          <span>Nodes ({{workloads.selected.length}} / {{getNodes().length}})</span>
          <span flex></span>
        </div>
      </md-toolbar>

      <md-table-container>
        <table md-table md-row-select ng-model="workloads.selected">
          <thead md-head md-order="myOrder">
            <tr md-row>
              <th md-column md-order-by='name'>Name</th>
              <th md-column flex="40">Services</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="node" md-select-id="{{node.id}}" ng-repeat="node in getNodes() | orderBy: myOrder" md-on-deselect='tryDeselect'>
              <td md-cell>{{node.name}}</td>
              <td md-cell>
                <span ng-repeat='service in roles' style='height: 10px;'>
                  <md-button ng-click='select(node, service)' class='md-icon-button' ng-class='{"toggled md-whiteframe-2dp": serviceMap[node.id][service.name]}'>
                    <md-icon>
                      {{service.icon}}
                    </md-icon>
                    <md-tooltip>
                      {{service.name}}
                    </md-tooltip>
                  </md-button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </section>
    <section flex='33' md-whiteframe="4">
      <md-toolbar>
        <div class='md-toolbar-tools'>
          Requirements
        </div>
      </md-toolbar>
      <md-content layout-padding>
        <table>
          <tr ng-repeat='(service, req) in wizard.services'>
            <td class='label'>{{service}}</td>
            <td>{{terms[req]}}</td>
            <td>
              <md-icon>
                {{getStatus(service) ? 'done' : 'close'}}
              </md-icon>
            </td>
          </tr>
        </table>
      </md-content>
    </section>
  </div>
</md-card>

<!-- Floating action button at the bottom right of the screen -->
<div ng-if='wizard.create_nodes'>
  <md-button class='md-fab md-accent md-fab-bottom-right' ng-click='addNode()'>
    <md-icon>add</md-icon>
    <md-tooltip>Add Node</md-tooltip>
  </md-button>
</div>
