<md-card>
  <md-toolbar class='md-table-toolbar md-default'>
    <div class='md-toolbar-tools' layout='row'>
      <md-icon>
        {{wizard.icon || 'create_new_folder'}}
      </md-icon>
      <h2>
        &nbsp;{{wizard.name}} - {{wizard.description}}
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>

  <md-content layout-padding layout='row'>
    <md-input-container flex>
      <label>Deployment Name</label>
      <input type="text" ng-model="workloads.name">
    </md-input-container>

    <md-input-container ng-if='wizard.os' flex>
      <label>Metal Operating System</label>
      <md-select ng-model="workloads.os">
        <md-option ng-repeat="os in osList" value="{{os}}">
          {{os}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container ng-if='wizard.create_nodes' flex>
      <label>Provider</label>
      <md-select ng-model="workloads.provider">
        <md-option ng-repeat="provider in _providers" value="{{provider.name}}" ng-if='provider.type != "MetalProvider" && provider.type != ""'>
          {{provider.name}}
        </md-option>
      </md-select>
    </md-input-container>
  </md-content>

  <div layout='column' layout-gt-sm='row'>
    <section flex='66'>
      <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
          <span>Nodes ({{workloads.selected.length}} / {{getNodes().length}})</span>
          <span flex></span>
        </div>
      </md-toolbar>

      <md-table-container style="overflow-y: auto; height: 50vh;">
        <table md-table md-row-select ng-model="workloads.selected">
          <thead md-head md-order="myOrder">
            <tr md-row>
              <th md-column md-order-by='name'>Name</th>
              <th md-column flex="40">Services</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="node" md-select-id="{{node.id}}" ng-repeat="node in getNodes() | orderBy: myOrder" md-on-deselect='tryDeselect'>
              <td md-cell>{{node.name}}</td>
              <td md-cell>
                <span ng-repeat='service in roles' style='height: 10px;'>
                  <md-button ng-click='select(node, service)' class='md-icon-button' ng-class='{"toggled md-whiteframe-2dp": serviceMap[node.id][service.name]}'>
                    <md-icon>
                      {{service.icon}}
                    </md-icon>
                    <md-tooltip>
                      {{service.name}}
                    </md-tooltip>
                  </md-button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </section>
    <section flex='33' layout="column">
      <md-card style='z-index: 5;'>
        <md-toolbar md-theme='status_{{overallStatus() ? "ready" : "error"}}'>
          <div class='md-toolbar-tools' layout='row'>
            <span flex>Deployment Requirements</span>
            <span>
              <md-icon>
                {{overallStatus() ? 'done' : 'close'}}
              </md-icon>
            </span>
          </div>
        </md-toolbar>
        <md-card-content layout-padding>
          <div style='border-bottom: thin solid lightgrey;'>
            Specs
          </div>
          <table style='width: 100%;' class='no-border'>
            <tr ng-if='wizard.os'>
              <td>&bullet;</td>
              <td>Operating system</td>
              <td style='width: 10%;'>
                <md-icon>
                  {{workloads.os ? 'done' : 'close'}}
                </md-icon>
              </td>
            </tr>
            <tr>
              <td>&bullet;</td>
              <td>Nodes</td>
              <td style='width: 10%;'>
                <md-icon>
                  {{workloads.selected.length ? 'done' : 'close'}}
                </md-icon>
              </td>
            </tr>
          </table>
          <br/>
          <div style='border-bottom: thin solid lightgrey;'>
            Services
          </div>
          <table style='width: 100%;' class='no-border'>
            <tr ng-repeat='(service, req) in wizard.services'>
              <td class='label' style='width: 30%;'>{{service}}</td>
              <td>{{terms[req]}}</td>
              <td style='width: 10%;'>
                <md-icon>
                  {{getStatus(service) ? 'done' : 'close'}}
                </md-icon>
              </td>
            </tr>
          </table>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
          <md-button class='md-icon-button'>
            <md-icon>gps_fixed</md-icon>
            <md-tooltip>
              Auto Pilot
            </md-tooltip>
          </md-button>
          <span flex></span>
          <md-button class='md-raised md-primary' ng-if='overallStatus()' ng-click='generateBlob()'>
            <md-icon>arrow_forward</md-icon>
            <md-tooltip>
              Create Deployment
            </md-tooltip>
          </md-button>
        </md-card-actions>
      </md-card>
    </section>
  </div>
</md-card>

<!-- Floating action button at the bottom right of the screen -->
<div ng-if='wizard.create_nodes'>
  <md-button class='md-fab md-accent md-fab-bottom-right' ng-click='addNode()'>
    <md-icon>add</md-icon>
    <md-tooltip>Add Node</md-tooltip>
  </md-button>
</div>
