<md-dialog aria-label="Provisioner Template" flex ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Provisioner Template</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content style='overflow-y: auto;'>
    <table style='width: 90%; overflow-x: hidden;'>
      <tr>
        <td class='label' style='width: 150px;'>Name</td>
        <td>
          <input type='text' class='table-input' ng-model='locals.env.Name' data-ng-readonly="locals.editing" />
        </td>
      </tr>
      <tr>
        <td class='label'>Available</td>
        <td>
          <input type='text' class='table-input' ng-model='locals.env.Available' />
        </td>
      </tr>
      <tr>
        <td class='label'>OS Name</td>
        <td>
          <input type='text' class='table-input' ng-model='locals.env.OS.Name' />
        </td>
      </tr>
      <tr>
        <td class='label'>OS Family</td>
        <td>
          <input type='text' class='table-input' ng-model='locals.env.OS.Family' />
        </td>
      </tr>
      <tr>
        <td class='label'>OS Codename</td>
        <td>
          <input type='text' class='table-input' ng-model='locals.env.OS.Codename' />
        </td>
      </tr>
      <tr>
        <td class='label'>OS Version</td>
        <td>
          <input type='text' class='table-input' ng-model='locals.env.OS.Version' />
        </td>
      </tr>
      <tr>
        <td class='label'>OS ISO File</td>
        <td>
          <input type='text' class='table-input' ng-model='locals.env.OS.IsoFile' />
        </td>
      </tr>
      <tr>
        <td class='label'>OS ISO SHA256</td>
        <td>
          <input type='text' class='table-input' ng-model='locals.env.OS.IsoSha256' />
        </td>
      </tr>
      <tr>
        <td class='label'>OS ISO Url</td>
        <td>
          <input type='text' class='table-input' ng-model='locals.env.OS.IsoUrl' />
        </td>
      </tr>
      <tr>
        <td class='label'>Kernel</td>
        <td>
          <input type='text' class='table-input' ng-model='locals.env.Kernel' />
        </td>
      </tr>
      <tr>
        <td class='label'>Initrds</td>
        <td>
          <md-chips ng-model='locals.env.Initrds' placeholder='Initrds'>
            <md-chip-template style='font-family: monospace;'>
              {{$chip}}
            </md-chip-template>
          </md-chips>
        </td>
      </tr>
      <tr>
        <td class='label'>Boot Params</td>
        <td>
          <input type='text' class='table-input' ng-model='locals.env.BootParams' />
        </td>
      </tr>
      <tr>
        <td class='label'>Required Params</td>
        <td>
          <md-chips ng-model='locals.env.RequiredParams' placeholder='Parameters'>
            <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in locals.attribs | filter:searchText" md-item-text="item" placeholder="Search for an attrib">
              <span md-highlight-text="searchText">{{item}}</span>
            </md-autocomplete>
            <md-chip-template style='font-family: monospace;'>
              {{$chip}}
            </md-chip-template>
          </md-chips>
        </td>
      </tr>
    </table>
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <span flex>Templates</span>
        <md-button class='md-icon-button' ng-click='locals.env.Templates.push({Name:"",Path:"",UUID:""})'>
          <md-icon>add</md-icon>
          <md-tooltip>
            Add Template
          </md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
    <md-table-container>
      <table md-table>
        <thead md-head md-order="templateOrder">
          <tr md-row>
            <th md-column md-order-by='Name'>Name</th>
            <th md-column md-order-by='Path'>Path</th>
            <th md-column md-order-by='UUID'>UUID</th>
            <th md-column>Delete</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat='template in locals.env.Templates | orderBy: templateOrder'>
            <td md-cell>
              <input type='text' class='table-input' ng-model='template.Name' />
            </td>
            <td md-cell>
              <input type='text' class='table-input' ng-model='template.Path' />
            </td>
            <td md-cell>
              <md-input-container>
                <label>UUID</label>
                <md-select ng-model="template.UUID">
                  <md-optgroup label='templates'>
                    <md-option ng-value="temp.UUID" ng-repeat="temp in locals._provisioner.templates">
                      {{temp.UUID}}
                    </md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </td>
            <td>
              <md-button class='md-icon-button' ng-click='locals.env.Templates.splice($index, 1)'>
                <md-icon>remove</md-icon>
                <md-tooltip>
                  Remove Template
                </md-tooltip>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-content>
  <md-dialog-actions style='margin: 0;'>
    <span flex></span>
    <md-button ng-click='dialog.createBootEnv()' class='md-primary md-raised' target="_blank" md-autofocus>
      {{locals.editing ? 'Update' : 'Create'}}
    </md-button>
  </md-dialog-actions>
</md-dialog>
