<md-dialog aria-label="Add Node" ng-cloak flex-gt-sm='50'>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Node</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding>
      <md-content>
        <md-input-container class='md-block'>
          <label>Name</label>
          <input type='text' minlength='1' maxlength='25' ng-model='locals.base_name' />
        </md-input-container>

        <md-input-container class='md-block'>
          <label>Provider</label>
          <md-select ng-model="locals.provider">
            <md-option ng-repeat="provider in providers" value="{{provider.name}}">
              {{provider.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <br/>

        <md-input-container>
          <label>Deployment</label>
          <md-select ng-model="locals.deployment_id">
            <md-option ng-repeat="(id, deployment) in locals._deployments" value="{{id}}">
              {{deployment.name}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class='md-block'>
          <label>OS</label>
          <input type='text' ng-model='locals.add_os' />
        </md-input-container>

        <md-input-container class='md-block'>
          <label>Number</label>
          <input required type="number" step="any" name="rate" ng-model="locals.number" min="1" />
        </md-input-container>

      </md-content>

      </td>
    </md-dialog-content>
    <md-dialog-actions>
      <a ng-href='#/providers'>Providers</a>
      <br/>
      <span flex></span>
      <md-button ng-click='dialog.addNodes()' class='md-primary md-raised' target="_blank" md-autofocus>
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
