<md-dialog aria-label="Create Network" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create Network</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <!-- Network data -->
    <md-dialog-content layout-padding>
      <md-content>
        <table>
          <tr>
            <td class='label'>
              Category
            </td>
            <td>
              <input type='text' class='table-input' ng-model='locals.network.category' />
            </td>
          </tr>
          <tr>
            <td class='label'>
              Group
            </td>
            <td>
              <input type='text' class='table-input' ng-model='locals.network.group' />
            </td>
          </tr>
          <tr>
            <td class='label'>
              Description
            </td>
            <td>
              <input type='text' class='table-input' ng-model='locals.network.description' />
            </td>
          </tr>
          <tr>
            <td class='label'>
              Deployment
            </td>
            <td>
              <md-select ng-model="locals.network.deployment_id">
                <md-option ng-repeat="(id, deployment) in locals._deployments" value="{{id}}">{{deployment.name}}</md-option>
              </md-select>
            </td>
          </tr>
          <tr>
            <td class='label'>
              VLAN
            </td>
            <td layout='row'>
              <md-switch ng-model="locals.network.use_vlan" aria-label="Switch" style='margin: 0;'>
                <md-tooltip>
                  Enable/Disable VLAN
                </md-tooltip>
              </md-switch>
              <input type='text' class='table-input' ng-model='locals.network.vlan' />
            </td>
          </tr>

          <tr>
            <td class='label'>
              IPv6 Prefix
            </td>
            <td>
              <input type='text' class='table-input' ng-model='locals.network.v6prefix' />
            </td>
          </tr>
          <tr>
            <td class='label'>
              Bridge
            </td>
            <td layout='row'>
              <md-switch ng-model="locals.network.use_bridge" aria-label="Switch" style='margin: 0;'>
                <md-tooltip>
                  Enable/Disable Bridge
                </md-tooltip>
              </md-switch>
              <input type='text' class='table-input' ng-model='locals.network.bridge' />
            </td>
          </tr>
          <tr>
            <td class='label'>
              Team
            </td>
            <td layout='row'>
              <md-switch ng-model="locals.network.use_team" aria-label="Switch" style='margin: 0;'>
                <md-tooltip>
                  Enable/Disable Team Mode
                </md-tooltip>
              </md-switch>
              <input type='text' class='table-input' ng-model='locals.network.team_mode' />
            </td>
          </tr>
          <tr>
            <td class='label'>
              Conduit(s)
            </td>
            <td>
              <input type='text' class='table-input' ng-model='locals.network.conduit' />
            </td>
          </tr>
          <tr>
            <td class='label'>
              PBR
            </td>
            <td>
              <input type='text' class='table-input' ng-model='locals.network.pbr' />
            </td>
          </tr>

        </table>

      </md-content>
    </md-dialog-content>
    <md-dialog-actions>
      <span flex></span>
      <md-button ng-click='dialog.addNetwork()' class='md-primary md-raised' target="_blank" md-autofocus>
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
