<md-dialog aria-label="Add Node" ng-cloak flex-gt-sm='50'>
  <form name='nodeForm'>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Node</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding>
      <md-content>
        <md-input-container class='md-block'>
          <label>Name</label>
          <input required type='text' name='name' md-minlength='1' md-maxlength='25' ng-pattern="/^[a-zA-Z0-9-]{1,25}$/" ng-model='locals.base_name' />
          <div ng-messages="nodeForm.name.$error">
            <div ng-message="required">You must enter a node name</div>
            <div ng-message="md-maxlength">Your name is too long (25 char max)</div>
            <div ng-message="md-minlength">Your name is too short (1 char min)</div>
            <div ng-message="pattern">Your name contains invalid characters (a-zA-Z0-9-)</div>
          </div>
        </md-input-container>

        <md-input-container class='md-block'>
          <label>Provider</label>
          <md-select required name='provider' ng-model="locals.provider">
            <md-option ng-repeat="provider in providers" value="{{provider.name}}">
              {{provider.name}}
            </md-option>
          </md-select>
          <div ng-messages="nodeForm.provider.$error">
            <div ng-message="required">You must select a provider</div>
          </div>
        </md-input-container>

        <md-input-container class='md-block' style='padding-bottom: 16px;'>
          <label>Deployment</label>
          <md-select required name='deployment_id' ng-model="locals.deployment_id">
            <md-option ng-repeat="(id, deployment) in locals._deployments" value="{{id}}">
              {{deployment.name}}
            </md-option>
          </md-select>
          <div ng-hide='locals._deployments[locals.deployment_id].system || !locals.deployment_id' style='color: #444; font-size: smaller '>
            REMINDER: Nodes in proposed non-system deployments will NOT automatically deploy
          </div>
          <div ng-messages="nodeForm.deployment_id.$error">
            <div ng-message="required">You must select a deployment</div>
          </div>
        </md-input-container>

        <md-input-container class='md-block'>
          <label>OS</label>
          <input required type='text' name='os' ng-model='locals.add_os' />
          <div ng-messages="nodeForm.os.$error">
            <div ng-message="required">You must enter an os. Default is default_os</div>
          </div>
        </md-input-container>

        <md-input-container class='md-block'>
          <label>Number</label>
          <input required type="number" name='count' step="1" ng-model="locals.number" min="1" />
          <div ng-messages="nodeForm.count.$error">
            <div ng-message="required">You must enter a number</div>
            <div ng-message="min">You must enter a number greater than 0</div>
          </div>
        </md-input-container>

      </md-content>
    </md-dialog-content>
    <md-dialog-actions>
      <a ng-href='#/providers'>Providers</a>
      <br/>
      <span flex></span>
      <md-button ng-click='dialog.addNodes()' ng-disabled='nodeForm.$error.required' class='md-primary md-raised' target="_blank" md-autofocus>
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
