<md-dialog aria-label="Edit Node" ng-cloak flex-gt-sm='50'>
  <form name='nodeForm'>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Node {{locals.node.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding>
      <md-content>
        <md-input-container class='md-block'>
          <label>Name</label>
          <input required type='text' name='name' md-minlength='1' md-maxlength='25' ng-pattern="/^[a-zA-Z0-9-]{1,25}$/" ng-model='locals.name1' />
          <div ng-messages="nodeForm.name.$error">
            <div ng-message="required">Enter a node name</div>
            <div ng-message="md-maxlength">Entered name is too long (25 char max)</div>
            <div ng-message="md-minlength">Entered name is too short (1 char min)</div>
            <div ng-message="pattern">Entered name contains invalid characters (a-zA-Z0-9-)</div>
          </div>
        </md-input-container>

        <md-input-container class='md-block'>
          <label>Description</label>
          <input required type='text' name='name' md-required="false" md-maxlength='80' ng-model='locals.description1' />
          <div ng-messages="nodeForm.name.$error">
            <div ng-message="md-maxlength">Entered name is too long (80 char max)</div>
          </div>
        </md-input-container>

        <md-input-container class='md-block' style='padding-bottom: 16px;'>
          <section layout-padding ng-hide="locals._profiles.length > 0">
            No Profiles Available
          </section>
          <section layout-padding style='overflow-x: auto;' ng-show="locals._profiles.length > 0">
            <md-chips ng-model='locals.profiles1' placeholder='Profiles (optional)' md-require-match="true">
              <md-chip-template style='font-family: monospace;'>
                {{ $chip }}
              </md-chip-template>
              <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in locals._profiles | filter:searchText" md-item-text="item" placeholder="Add Profiles">
                <span md-highlight-text="searchText">
                  {{item}}
                </span>
              </md-autocomplete>
            </md-chips>
          </section>
        </md-input-container>

      </md-content>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button ng-click='dialog.updateNode()' ng-disabled='nodeForm.$error.required' class='md-primary md-raised' target="_blank" md-autofocus>
        save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
