<md-dialog aria-label="User {{locals.user.username}} Capabilities" flex-gt-sm='50' flex='100' ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><md-icon>person</md-icon> {{locals.user.username}} Capabilities</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content style='overflow-y: auto;'>
    <table style='width: 90%; overflow-x: hidden;'>
      <tr ng-repeat='tenant in locals.tenants'>
        <td class='label' valign="top">
          {{tenant.name}}
        </td>
        <td>
          <md-chips ng-model='locals.user.caps[tenant.id].caps' placeholder='Capabilities' md-require-match="true" md-on-add="fixCaps(tenant)">
            <!-- md-on-add only works with the first tenant, not the 2nd for some reason....... -->
            <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in locals.capabilitiesList| filter:searchText" md-item-text="item.name" placeholder="Search for a Capability" ng-if='!locals.user.caps[tenant.id].caps.includes(item)'>
              <span md-highlight-text="searchText">
                {{item.name}}
              </span>
            </md-autocomplete>
            <md-chip-template style='font-family: monospace;'>
              {{locals.capabilities[$chip].name}}
            </md-chip-template>
          </md-chips>
        </td>
      </tr>
    </table>
  </md-content>
  <md-dialog-actions style='margin: 0;'>
    <span flex></span>
    <md-button ng-click='dialog.updateUserCaps()' class='md-primary md-raised' target="_blank" md-autofocus>
      Update
    </md-button>
  </md-dialog-actions>
</md-dialog>
