<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>{{locals.deployment.name}}</h2>
  </div>
</md-toolbar>

<md-dialog-content>
  <div class="md-dialog-content">
    <table>
      <thead>
        <th></th>
        <th>Nodes</th>
      </thead>
      <tbody>
        <tr ng-repeat="node in locals.nodes | filter:{system: false} | orderBy:'name'">
          <td>
            <md-icon>
              {{locals.icons[node.status]}}
            </md-icon>
            <md-tooltip>
              {{node.status}}
            </md-tooltip>
          </td>
          <td class='label'>
            {{node.name}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</md-dialog-content>
