<md-dialog aria-label="Barclamp ({{locals.barclamp.name}})" flex-gt-sm="40" flex="100" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Barclamp ({{locals.barclamp.name}})</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <div ui-ace="{
    useWrapMode: true,
    showGutter: true,
    mode: 'json',
    onLoad: loadBarclamp
  }" style="height: 400px;"></div>

  <md-dialog-actions>
    <span flex></span>
    <md-button ng-click="dialog.updateBarclamp()" class="md-primary md-raised" target="_blank" md-autofocus>
      Update
    </md-button>
  </md-dialog-actions>
</md-dialog>
