<md-dialog aria-label="Profile" flex ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Profile</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content style="overflow-y: auto;" layout-padding>
    <md-input-container class="md-block">
      <label>Name</label>
      <input type="text" ng-model="locals.profile.name" />
    </md-input-container>
    <md-card>
      <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
          <span flex>Templates</span>
  	<md-button class="md-icon-button" ng-click="dialog.profileNewValue(locals.profile.values)">
            <md-icon>add</md-icon>
            <md-tooltip>
              Add Value
            </md-tooltip>
          </md-button>
        </div>
      </md-toolbar>
      <div flex layout="column" ng-repeat="(key, value) in locals.profile.values" style="border-top: thin solid #ddd;">
        <div layout="row" layout-align="start center">
          <md-input-container class="md-block" flex>
            <label>Name</label>
            <md-select flex ng-model="value.name" ng-change="dialog.profileSelectChanged(locals.profile.values, key, value.name)">
              <md-optgroup label="attribs">
                <md-option ng-value="temp.name" ng-repeat="temp in locals.attribs">
                  {{temp.name}}
                </md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
          <md-button class="md-icon-button" ng-click="dialog.profileClearData(locals.profile.values, value.name)">
            <md-icon>delete</md-icon>
            <md-tooltip>
              Remove Value
            </md-tooltip>
          </md-button>
        </div>
        <div layout="row" layout-padding>
          <div flex style="align-self: stretch;">
            <textarea ng-model="value.value" style="width: 100%; height: 100%; font-family: monospace; flex-grow: 1;" ng-class="{'error': !parse(value.value, 1)||!locals.api.testSchema(parse(value.value, 0),locals.attribs[value.name].schema)}"></textarea>
          </div>
          <div flex style="overflow-x: auto; padding-left: 16px;">
            <pre>{{locals.attribs[value.name].schema | json}}</pre>
            <span style="font-size: 1em;">&quot;*&quot; = Required, &quot;=&quot; = Wildcard</span>
  <pre>{{value.name}} = {{locals.api.exampleFromSchema(locals.attribs[value.name].schema) | json}}</pre>
             <span ng-show="!parse(value.value,1)">JSON Parsing Error</span>
             <span ng-show="parse(value.value,1)&&!locals.api.testSchema(parse(value.value,0),locals.attribs[value.name].schema)">Value does not follow Schema</span>
          </div>
        </div>
      </div>
    </md-card>
  </md-content>
  <md-dialog-actions style="margin: 0;">
    <span flex></span>
    <md-button ng-click="dialog.createProfile()" class="md-primary md-raised" target="_blank" md-autofocus>
      {{locals.editing ? 'Update' : 'Create'}}
    </md-button>
  </md-dialog-actions>
</md-dialog>
