<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><md-icon>dashboard</md-icon> Edit Deployment</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout-padding>
    <md-input-container>
      <md-input-container flex class="md-block">
        <label>Name</label>
        <input type="text" style="color: black;" ng-model="name" />
      </md-input-container>
      <md-input-container flex class="md-block">
        <label>Description</label>
        <input type="text" style="color: black;" ng-model="description" />
      </md-input-container>
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="hide({id, name, description})" class="md-raised md-primary">
      Save
    </md-button>
    <md-button ng-click="$mdDialog.cancel()" class="md-primary">
      Cancel
    </md-button>
  </md-dialog-actions>
</md-dialog>
