<md-dialog aria-label="Edit Attrib" ng-cloak style="min-width: 800px;">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editing {{locals.attrib.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <!-- Network data -->
    <md-dialog-content layout="row" style="overflow-x: hidden;">
      <div flex style="min-height: 400px;">
        <textarea ng-model="locals.value" style="width: 100%; font-family: monospace; min-height: 400px;" ng-class="{'error': !parse(locals.value, 1) || !locals.api.testSchema(parse(locals.value), locals.attrib.schema)}"></textarea>
      </div>
      <div flex style="padding-left: 1em; overflow-x: auto;">
       <span style="font-size: 1em;">&quot;*&quot; = Required, &quot;=&quot; = Wildcard</span>
        <pre>{{locals.api.exampleFromSchema(locals.attrib.schema) | json}}</pre>
        <br>
        <div ng-show="locals.attrib.schema.enum">
          Enum:
          <pre>{{locals.attrib.schema.enum | json}}</pre>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <span ng-show="!parse(locals.value,1)">JSON Parsing Error</span>
      <span ng-show="parse(locals.value,1) && !locals.api.testSchema(parse(locals.value), locals.attrib.schema)">Value does not follow Schema</span>
      <span flex></span>
      <md-button ng-click="dialog.editAttrib(locals.target)" class="md-primary md-raised" target="_blank" md-autofocus ng-disabled="!parse(locals.value,1)">
        <span ng-show="!locals.api.testSchema(parse(locals.value), locals.attrib.schema)">Force</span>
        Update
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
