<md-card flex>
  <section layout="column">
    <div layout="row">
      <md-select ng-model="method" style="width: 100px; margin: 0px; padding-left: 16px; text-align: center;">
        <md-option value="get">GET</md-option>
        <md-option value="head">HEAD</md-option>
        <md-option value="post">POST</md-option>
        <md-option value="put">PUT</md-option>
        <md-option value="delete">DELETE</md-option>
        <md-option value="trace">TRACE</md-option>
        <md-option value="options">OPTIONS</md-option>
        <md-option value="connect">CONNECT</md-option>
        <md-option value="path">PATH</md-option>
        <md-option value="patch">PATCH</md-option>
      </md-select>
      <input type="text" class="table-input" ng-model="route" placeholder="/api/v2/" />
      <div layout-padding>
        <md-button class="md-primary md-icon-button" style="width: auto; margin: auto;" ng-click="testApi()">
          <md-icon>
            send
          </md-icon>
          <md-tooltip>
            Run API
          </md-tooltip>
        </md-button>
      </div>
    </div>
    <div ui-ace="{
      useWrapMode: true,
      showGutter: true,
      mode: 'json'
    }" ng-model="payload" style="height: 200px;"></div>
  </section>
</md-card>
<md-card>
  <section layout="column">
    <div layout="row" class="md-toolbar-tools">
      <h2 flex style="margin: 0; padding: 0;">Output</h2>
      <md-button class="md-primary md-icon-button" style="width: auto; margin: auto;" ng-click="clearOutput()">
        <md-icon>
          delete
        </md-icon>
        <md-tooltip>
          Clear Output
        </md-tooltip>
      </md-button>
    </div>
    <div ui-ace="{
      useWrapMode: true,
      showGutter: true,
      mode: 'json'
    }" ng-model="output" ng-readonly="true" style="height: 200px;"></div>
  </section>
</md-card>