<a href='http://aws.amazon.com/'>
  <img src='https://upload.wikimedia.org/wikipedia/commons/1/1d/AmazonWebservices_Logo.svg' flex-gt-xs='25' flex='100'/>
</a>

<md-input-container class='md-block'>
  <label>Access Key</label>
  <input type='text' ng-model='provider.auth_details.aws_access_key_id' />
</md-input-container>

<md-input-container class='md-block'>
  <label>Secret</label>
  <input type='password' ng-model='provider.auth_details.aws_secret_access_key' />
</md-input-container>

<md-input-container class='md-block'>
  <label>Region</label>
  <input type='text' ng-model='provider.auth_details.region' />
</md-input-container>