<div layout="column" layout-gt-xs="row" class="wizard-pane">
  <div class="wizard-icon">
    <md-icon ng-class="{rotate: submitStatus == 0}">
      {{submitStatus == 0 ? "hourglass_empty" : (submitStatus == -1 ? "close" : "check")}}
    </md-icon>
  </div>
  <div class="wizard-content" flex>
    <h1 ng-switch="submitStatus">
      <span ng-switch-when="-1">Wizard Failed</span>
      <span ng-switch-when="0">Running Wizard...</span>
      <span ng-switch-when="1">Wizard Completed!</span>
    </h1>
    <div ng-show="submitStatus == -1" layout-align="center">
      <md-button class="md-primary md-raised" ng-click="steps[done-1].onStep()">
        Retry
      </md-button>
      <md-button class="md-primary md-raised" ng-click="setPath('/alerts')">
        View Alerts
      </md-button>
    </div>
    <div ng-show="submitStatus == 0">
      Please wait a moment!
    </div>
    <div ng-show="submitStatus == 1">
      <md-button class="md-primary md-raised" ng-click="setPath('/deployments')">
        View Deployments
      </md-button>
    </div>
  </div>
</div>